
<div style="margin-top: 100px; margin-bottom: 50px;">
<div class = "boxed-item container mt-5">
    <div class = "d-flex justify-content-left">
        <p class = "sub-heading-1" href="/">       

            <a href="/"> <fa-icon icon="window-close" > </fa-icon></a>

              
        </p>
    </div>
    <div class = "d-flex justify-content-center">
        <p class = "sub-heading-1">الشروط والأحكام - أمنت</p>
    </div>
    <br>
    <p>
        موقع أمنت Ammant هوأحد منتجات شركة المأمون عبر البحار وسطاء تأمين المحدودة.
        وهي شركة وساطة معتمدة ومصرحة من قبل البنك المركزي السعودي والهدف من موقع (أمنت Ammant)  للإستخدام الشخصي فقط للمقارنة بين عروض التأمين والسماح لمستخدميه بتصفح و/أو طلب خدمات التأمين، وكما يقدم الموقع تسهيلات الدفع لسداد المتلطبات المالية للحصول على الخدمات التأمينية وبناء عليه يمنع بتاتاً استخدام موقع أمنت من قبل (وسطاء التأمين - المندوبين)
        ويعتبر هذا الاستخدام غير قانوني وفقاً للوائح البنك المركزي السعودي. ويحتفظ موقع (أمنت Ammant) بحق الملاحقة القانونية والتبليغ للجهات المختصة عن أي وسيط تأمين أو مندوب يستخدم الموقع بشكل غير قانوني.
        كما يحتفظ (أمنت Ammant) بمطالبة أي وسيط تأمين أو مندوب يستخدم الموقع بشكل غير قانوني عن أي عواقب قانونية أو مالية تلحق الموقع بسبب هذا الإستخدام غير القانوني.
    </p>

    <p class="sub-heading-2"> التعريفات</p>
    <p>
        - (نحن - الخاص بنا - لنا - أمنت) تعني الموقع المحدد (أمنت)
    </p>
    <p>
        - (أنت - الخاص بك - المستخدم) تعني مستخدم تطبيق (أمنت Ammant)
    </p>
    <p>
        - مزود الخدمة تعني شركة التأمين المصرح لها ممارسة نشاط التأمين من قبل البنك المركزي السعودي والتعاقدة معنا لإظهار عروضها خلال موقعنا وتطبيقنا
    </p>
    <p>
        - (الخدمة - الخدمات) تعني الخدمة المقدمة للمقارنة النزيهة بين أسعار الخدمات التأمينية ومعلومات عنها. 
    </p>
    <p> 
        - معلومات المستخدم تعني التفاصيل الشخصية التي تقدمها لنا من خلال موقع أمنت.
    </p>
    <p class="sub-heading-2"> الأحكام العامة</p>
    <p>
        - يرجى من فضلك قراءة شروط الخدمة هذه بعناية قبل دخول الموقع أمنت أو استخدامه، فمن خلال دخول الموقع أو استخدام أي من الخدمات المدرجة به، فإنك تكون موافقاً على أن تكون خاضعاً لشروط وأحكام وكذلك توافق على الإلتزام بسياسة الخصوصية الخاصة بهذا الموقع، وإن لم تكن موافقاً
        على جميع شروط وأحكام الاستخدام أو سياسة الخصوصية فيجب ألا تدخل للموقع الإلمتروني أو تستخدمه.
    </p>
    <p class="sub-heading-2"> الاستخدام للموقع</p>
    <P>
        - للدخول واستخدام الموقع (أمنت) تقر أنت بأنك تلبي جميع المتطلبات الخاصة بالأهلية إذ يجب أن يكون المستخدم كامل الأهلية (السن القانوني لا يقل عن 18 عام بالتقويم الميلادي) وفقاً للنظام الفانوني الذي تخضع له، كما يجب أن تكون قادراً وأهلاً بشكل كامل للموافقة على الشروط والأحكام والالتزامات والتعهدات والضمانات المنصوص عليها في هذه الشروط وكذلك الالتزام والتقيد بها.
    </P>
    <p>
        - تقر وتتعهد بأن جميع البيانات المدخلة صحيحة وغير مضللة وفي حال اكتشاف خلاف ذلك فإنك تتعهد بتحمل المسؤولية المطلقة وأن المستخد مسئول عن الحفاظ على سرية حسابك وكلمة المرور الخاصة به وتقييد الوصول إلى جهاز الحاسب الآلي الخاص بك، وأنت توافق على قبول المسؤولية عن جميع الأنشطة التي تحدث ضمن حسابك أو كلمة المرور.
    </p>
    <p>
        - تتعهد بأنك لن تفعل أو تحاول أن تفعل أي شيء يؤثرعلى سلامة وأمان هذا الموقع أمنت، أو تتسبب أو قد تتسبب في ضرر أو تلف أو إزعاج غير مقبول لمستخدمين آخرين لهذا الموقع أو (لنا) ولن تقزم بجمع أو استخراج أو تنزيل و/أو عرض الإعلان على أي موقع إلكتروني آخر 
        أو أي خدمة أخرى عبر الإنترنت أو خارج الإنترنت بأي وسيلة كانت سواء طباعة أو إلكترونية أو غير ذلك، أي مواد موجودة على هذا الموقع أو منه أو إذا انتهكت أيّا من البنود المنصوص عليها أعلاه، فقد نتخذ الإجراء الذي نراه مناسباً، بما في ذلك منعك من الوصول إلى هذا " الموقع " الإلكتروني، وإتخاذ الإجراءات القانونية ضدك والكشف عن هذه المعلومات إلى الجهات القانونية و/أو الرسمية المناسبة.
    </p>
    <p class="sub-heading-2">الشروط العامة  </p>
    <p>
       - نحتفظ بحقنا في رفض تقديم الخدمة لأي كان لأي سبب من الأسباب وفي أي وقت نراه مناسباً.  
    </p>
    <p>
        - يقوم موقع أمنت بتوفير وعرض المنتجات التأمينية التابعة لشركات التأمين، المرخصة من قبل البنك المركزي السعودي.
    </p>
    <p>
        - نحتفظ بالحق في رفض أو حذف أي معلومات أو وثائق تقدمها، وفقاً لتقديرنا الخاص.
    </p>
    <p>
        - نحتفظ بالحق في أي وقت في إنهاء أو تقييد أو تعليق الوصول إلى مستنداتك دون إعطاء أي إشعار مسبق ولن نكون مسؤولين تجاهك إذا تم سحب مستنداتك أو إلغائها أو عدم توفرها في أي وقت أو لأي سبب أو لأي فترة.
    </p>
    <p>
        - عليك أن تتفهم أن بياناتك (والتي لا تشمل معلومات بطاقاتك الإئتمانية) قد تُنقل دون تشفير وقد تخضع إلى النقل ما بين شبكات مختلفة على شبكة الإنترنت، وأي تغييرات تكون من أجل توفيقها وتعديلها بما يناسب المتطلبات الفنية للشبكات أو الأجهزة المتصلة فيما بينها، إلا أن معلومات البطاقة الإئتمانية دائماً ما يتم تشفيرها قبل تحويلها عبر الإنترنت.
    </p>
    <p>
        - إننا لا نتحمل مسؤولية كون المعلومات المتوفرة على هذا الموقع غير دقيقة أو كاملة أو محدثة، حيث إن المواد المدرجة على هذا الموقع، قد أدرجت كمعلومات عامة فقط
        ولا يجب الاعتماد عليها أو استخدامها كمصدر  وحيد لاتخاذ القرارات دون الرجوع إلى مصادر معلومات رئيسية أخرى أكثر دقة واكتمالاً وحداثة، كما أن أي اعتماد من قبلك على المواد المدرجة في هذا الموقع سيكون على مسؤوليتك الخاصة.
    </p>
    <p class="sub-heading-2"> التزامات المستخدم</p>
    <p>
        - أمنت هو للاستخدام الشخصي فقط وهو حصري للفرد صاحب الشأن وغير قابل للتحويل إلى طرف ثالث فيمنع منعاً باتاً استخدام موقع أمنت من قبل وسطاء التأمين أو المندوبين
        ويعتبر هذا الاستخدام غير قانوني وفقاً للوائح البنك المركزي السعودي.
    </p>
    <p>
        -  تقع على المستخدم (أنت) مسؤولية التأكد من أن جميع المعلومات التي تزودنا بها أو تدخلها على هذا الموقع كاملة ودقيقة، لذا يرجى التحقق جيداً من معلوماتك قبل إرسالها بما فيها تقديم بريد ألكتروني ورقم جوال صحيحين 
        لتتمكن من تلقي التحديثات والإخطارات المهمة حول الوثيقة التأمينية الخاصة بك. 
    </p>
    <p>
        - يجب عليك قراءة الشروط والأحكام الخاصة بشركة التأمين المصدرة لوثيقة التأمين وكذلك قراءةالوثيقة الموحدة للتأمين الإلزامي على المركبات والتي يمكنك الوصول لها عبر النقر على كلمة 
        "الشروط والأحكام"
        بجانب عرض السعر المختار من قبلك في صفحة التسعيرة.
    </p>
    <p class="sub-heading-2"> الخدمات المقدمة </p>
    <p >  
        - يقدم موقع أمنت منتجات تأمينية تابعة لشركات التأمين المسجلة والمصرحة من قبل البنك المركزي السعودي للمقارنة فيما بينها لاتخاذ قرار بناءً علي تلك المقارنات وليس هناك أجر أو رسوم مقابل هذه الخدمة.
    </p>
    <p> 
        -  يقوم موقع أمنت بعرض الأسعار للمنتجات التأمينية التي تكون متوفرة على الموقع بأسعار تنافسية بحيث يترك الخيار للمستخدم باختيار التغطية المرادة بالسعر المراد بدون تقديم نصيحة أو مشورة مالية أو استثمارية ولا نفاضل بين مزودي الخدمة الخدمة (شركات التأمين).
     </p>
     <p>
         - يتم استخدام جميع المعلومات التي تقدمها لنا لصياغة عرض أسعار
         "شركات التأمين".
         لذلك من المهم التحقق جيداً من جميع المعلومات للتأكد من أنها كاملة ودقيقة. نسعى للتأكد من أننا ننقل بدقة المعلومات التي قدمتها إلى مقدم الخدمة لغرض توفير مقارنة الأسعار.
     </p>
     <p class="sub-heading-2">  قواعد الطلب </p>
     <p>
         - بصفتك مستخدم مسجل، يمكنك طلب ةشراء المنتجات عبر أمنت. إذا كان يتوجب دفع مبلغ على منتج قد قمت بطلبه، فعليك دفع المبلغ/القسط الكامل لهذا المنتج كما هو أثناء عملية الطلب، جميع الطلبات التي تقوم بإتمامها على موقع أمنت تخضع للقبول وفقاً لهذه الشروط.
     </p>
     <p>
         - التأكيد هي مرحلة تحدد التفاصيل النهائية لطلبك. بعد هذا، سوف نرسل لك بريداً إلكترونياً بتأكيد العملية وبه تفاصيل المنتجات التي قمت بطلبها. يرجى ملاحظة أن هذا البريد الإلكتروني ليس من أجل تأكيد أو ثبول الطلب.
     </p>
     <p>
         - بعد قبول طلبك، يتم إتمام العقد بينك وبين شركة التأمين وبعد الانتهاء من أي إجراءات معلقة، بما في ذلك عمليات الكشف، واستلامنا كامل قيمة/قسط المنتج
         ترسل لك وثيقة التأمين على البريد المسجل في الوثيقة، وتحفظ في ملف 
         " وثيقة سارية المفعول"
         ويمكن الدخول إليها من خلال لوحة التحكم على حسابك في موقع أمنت.
     </p>
     <p class="sub-heading-2">  خطوات الطلب </p>
     <p>
         - يقوم المستخدم بإدخال المعلومات الأساسية لعملية التسعير
     </p>
     <p>
         - سوف يتم إظهار جدول المقارنة مع المزايا الإضافية
     </p>
     <p>
         - يتم تحديد العرض المناسب والتأكيد عليه بعد قراءة الشروط والأحكام الخاصة بشركة التأمين مقدمة العرض
     </p>
     <p>
         - إدخال بيانات الدفع والسداد ثم اختيار طريقة الدفع
     </p>
     <p>
         - بعد السداد يتم إصدار وثيقة التأمين
     </p>
     <p class="sub-heading-2"> طرق الدفع </p>
     <p>
         - جميع المدفوعات يتم توجيهها مباشرة إلى شركات التأمين والوقع ليس له أي تحكم أو سيطرة على المبلغ المذكور
     </p>
     <p>
         - للتأكد من ععدم استخدام البطاقة دون موافقتك، إذا أردت استعمال بطاقة الماستركارد والفيزا كطريقة الدفع ستقوم بإدخال بيانات البطاقة
         في أمنت ثم سيتم توجيهك إلى بوابة تأكيد الدفع الخاص بإجراءات الماستركارد والفيزا، وسيتم التأكد من صحة بياناتك وذلك باستخدام قواعد البيانات المناسبة من قبل أطراف مصرحة بها من قبل الجهات الرسمية.
         بقبولك هذه الشروط، فإنك توافق على إجراء مثل عمليات التأكد هذه. يمكن الكشف عن المعلومات التي قدمتها إلى موقع الانترنت الخاص بإجراءات الدفع (الماستركارد والفيزا) ، والتي قد تحتفظ بسجل لتلك المعلومات. 
         الرجاء ملاحظة أن هذا يتم فقط لتأكيد هويتك. إن جميع المعلومات التي قدمتها لنا سيتم التعمل بها بالتوافق التام مع القوانين المعمول بها لدى المملكة العربية السعودية
     </p>
     <p style="font-weight: bold;">
         - طرق الدفه المتعمدة هي :
     </p>
     <p>
         * بواسطة البطاقة الإئتمانية (فيزا - ماستركارد)
     </p>
     <p>
         * خدمة سداد
     </p>
     <p>
        * خدمة مدى
    </p>
    <p>
        *  أبل بي - تي سي بي
    </p>
    <p>
        - جميع الأسعار المذكورة هي بالريال السعودي وتشمل الضرائب (إن وجدت) بالمعدلات المطبقة حالياً.
         فيما يتعلق ببطاقات الإئتمان وبطاقة الخصم، يرجى ملاحظة أنه من مسؤوليتك أن تتحقق من البنك الذي تتعامل معه أولاً قبل إجراء عملية شراء بأنه لا يفرض أي رسوم أو خدمات إضافية لاستخدام هذه البطاقات وإذا كان
         هناك أي مخاطر خاصة بصرف العملات الأجنبية بالنسبة لك ف 
         "نحن"
         غير مسؤولين عن أي رسوم زائدة تفرضها البنوك (أو أي طرف ثالث معني) على بطاقة الإئتمان أو بطاقة الخصم الخاصة بك. 
    </p>
    <p>
        -  يحق لنا منع استخدام بعض البطاقات لأي سبب كان وفقاً لتقديرنا الخاص
    </p>
    <p class="sub-heading-2"> المسؤولية </p>
    <p>
        -  نحن مسؤولون عن التأكد من أننا نعكس عروض أسعار المنتج أو الخدمة بدقة من خلال تقنية مقارنة الأسعار. نحن مسؤولون أيضاً عن البيانات الواقعية التي نقدمها لك وحماية بياناتك وفقاً لأنظمة ولوائح البنك المركزي السعودي.
    </p>
    <p>
        - سنبذل قصارى جهدنا لنوفر لك خدمة عالية الجودة وموقعاً إلكترونياً خالياً من الفيروسات. ومع ذلك، نحن لسنا مسؤولين عن فيروسات الحاسب الآلي أو غيرها من المشاكل المتعلقة بالحاسب الآلي التي تعاني منها نتيجة استخدام هذا الموقع، والتي من هي خارجة عن سيطرتنا.
        نوصي باستخدام برنامج فحص الفيروسات المناسب لك.
    </p>
    <p>
        - نحن لسنا مسؤولين عن أي تعليق أو آراء أو تقييمات أو منشورات أخرى على هذا الموقع من قبل أطراف ثالثة.
    </p>
    <p>
        - تتحمل شركات التأمين ومواقع الطرف الثالث مسؤولية الفشل أو الأخطاء على مواقعهم الإلكترونية. 
    </p>
    <p class="sub-heading-2"> الرسائل النصية والإشعارات </p>
    <p>
        - من خلال إنشاء حساب، فإنك توافق على أن خدمات أمنت قد ترسل لك رسالة نصية (SMS) كجزء من من العملية التجارية العادية لاستخدامك للخدمات سيتم اعتبار الإشعار على أنه قد تسلمه من قبلكم مالم يتم تبليغنا بأن البريد الإلمتروني المرسل إليه غير صالح ولا يعمل،
        وفي حال تم الإشعار من خلال وضعه على موقعنا، فإن الإشعار سيتم إعتباره على أنه قد يتم إيصاله عن القيام بوضعه على الموقع.
    </p>
    <p class="sub-heading-2"> العلامات التجارية وحقوق النشر والملكية الفكرية </p>
    <p> 
        - إن جميع حقوق الملكية الفكرية، سواء كانت مسجلة أو غير مسجلة في الموقع، وكافة المعلومات والتصاميم الواردة على الموقع، تُعتبرُ ملكاً لنا، بما في ذلك ولكن ليس على سبيل الحصر، النصوص والرسوم والبرامج والصور والفيديو والموسيقي والصوت، واختيارها وتنسيقها، فضلاً عن جميع مصنّفات البرمجيات ورموز المصادر والبرامج الرئيسة.
        وإن كل محتويات الموقع محمية أيضاً بموجب حقوق النشر كونها عمل جماعي يخضع لقوانين حقوق نشر المملكة العربية السعودية والاتفاقات الدولية. جميع حقوق النشر محفوظة.
    </p>
    <p> 
        - لم يتم تبليغنا بأن البريد الالكتروني المرسل إليه غير صالح ولا يعمل، وفي حال تم الإشعار من خلال وضعه على موقعنا، فإن الإشعار سيتم اعتباره على أنه قد تم إيصاله عند القيام بوضعه على الموقع.
    </p>
    <p class="sub-heading-2"> الروابط الخارجية </p>
    <p> 
        - قد يتضمن الموقع إعلانات ذات روابط خارجية على صفحات إلكترونية منفصلة (مواقع خارجية). بعد النقر على هذه المواقع الخارجية أو الدخول إليها، ستغادر الموقع الإلكتروني الخاص بنا. ونحن لا نتحقق من محتوى أي من المواقع الخارجية أو نراجعه أو ننؤيده أو نضمنه أو نتحكم فيه، مالم ينص على خلاف ذلك صراحة في البنود.
        ولن نكون مسؤولين أو نتحمل المسؤولية عن المحتوى المعروض على المواقع الخارجية وستتمكن من الوصول إلى هذه المواقع المواقع الخارجية على مسؤوليتك الخاصة. 
         كما أنك توافق على عدم ربط أي موقع إلكترونب آخر أو مواقع خارجية بموقع تأميني دون الحصول على موافقة خطية مسبقة من أمنت. ونحن غير مسؤولين إن قامت المواقع الخارجية بإرسال ملفات تعريف الارتباط الخاصة بك أو جمع البيانات، وتكون مسؤولاً عن التحقق من المواقع الخارجية
         لتحديد موقع البنود والشروط وسياسة الخصوصية الخاصة بها ومراجعة هذه الإتفاقية وتقر بأنك تقوم بعملية الدخول، إلى رابط و/أو عمل مرجع للمواقع الخارجية على مسؤوليتك الخاصة. 
    </p>
    <p class="sub-heading-2"> الإنهاء  </p>
    <p style="font-weight: bold;">  
        قد نصدر إخطاراً أو نعلق مؤقتاً أو ننهي حقك في استخدام هذا الموقع بشكل دائم إذا قمت ب :
    </p>
    <p>
        * خرق جوهري لأي من هذه الشروط والأحكام
    </p>
    <p>
        * انتهاك أو محاولة انتهاك أي حقوق لأي مستخدم (مستخدمين) آخرين لهذا الموقع و/أو أطراف ثالثة فيما يتعلق بهذا الموقع 
    </p>
    <p>
       *  استخدام هذا الموقع لارتكاب أو محاولة ارتكاب جريمة.
   </p>
   <p>
       * إساءة استخدام أو اختراق أو محاولة اختراق أي جزء من موقع أمنت.
   </p>
   <p class="sub-heading-2"> القانون المعمول به والاختصاص  </p>
   <p> 
        تسري هذه الشروط على استخدامك للموقع وتتوافق مع القوانين المعمول بها في المملكة العربية السعودية. وباستخدام الموقع الإلكتروني، فإنك توافق صراحة على القانون المعمول به والاختصاص والولاية القضائية للملكة العربية السعودية على شروط الاستخدام،
        وأي نزاع على محتوى الموقع يخضع للاختصاص الحصري للمحاكم في مدينة جدة لدى المملكة العربية السعودية بغض النظر عن موقعك الجغرافي.
    </p>
    <p class="sub-heading-2"> التعديلات  </p>
    <p> 
        - قد تسفر عمليات التحسين في التكنولوجيا عن حدوث تغييرات في طريقة عرض وتسجيل واستخدام المعلومات الشخصية الخاصة بك. إذا اعتقدنا بأن التغييرات يمكن أن تكون مضرة لك، فسنقوم بإبلاغك،
        عن طريق البريد الإلمتروني والرسائل النصية 
         [تطبيقاً للقواعد المنظمة لأعمال وساطة التأمين الإلكتروني]
         وبإرسال إشعار بالتعديل في الموقع، وإذا استخدمت الموقع بعد هذا الإشعار، فسنفترض أنك وافقت على تلك التغييرات تلقائياً من دون الحاجة لتقديم إشعار خطي منك بذلك.
    </p>
    <p> 
        - يحق 
        "لنا"
        تغيير البنود والشروط في أي وقت. حيث يتم اعتبار أي من هذه التغييرات سارية المفعول في اليوم الذي يتم فيه النشر على موقع أمنت لذا يجب عليك قراءة الشروط بعناية قبل استخدام أمنت عند تسجيل الحساب أو استخدام 
        "الخدمات"
        وفي كل مرة تستخدم فيها www.ammant.com، ونوصيك بطباعة نسخة للرجوع إليها في المستقبل وإذا استخدمت الموقع بعد هذا الإشعار،
        فسنفترض أنك وافقت على تلك التغييرات تلقائياً من دون الحاجة لتقديم إشعار خطي منك بذلك.
    </p>
    <p class="sub-heading-2"> للتواصل أو الشكاوي  </p>
    <p>  
        أي استفسارات أو شكاوي أو تعليقات حول الموقع أو الشروط والأحكام ينبغي أن توجه عبر البريد الألكتروني باستخدام النموذج الموجود في صفحة (تواصل معنا) على موقع
        <a href = "https://ammant.com">www.ammant.com</a>
    </p>
    
</div>
</div>