<div class="loader-container ">

   <!-- ----------------------------------------------------------------------- -->
   <!--                                 Loader                                  -->
   <!-- ----------------------------------------------------------------------- -->
   <div class="loader-wrapper">

      <div class="">
         <div class="">
           <div>
              <div>



                 <div class="loading-window">




                    <div class="text">

                        <img class="redd" src="../../../../../../assets//img/loadercar/LastCar.png" alt="">

                    </div>
                </div>

                 <div> 
           
   
                 </div>
              </div>
           </div>
           
      </div>



   </div>

  </div>



   <span *ngIf="type === 'QuotationLoading'" class="loading-msg"><!-- {{ 'Misc.QuotationLoadingMessage' | translate }} --></span>


</div>


