
<div style="margin-top: 100px; margin-bottom: 50px;">
    <div class = "boxed-item container mt-5">
        <div class = "d-flex justify-content-left">
            <p class = "sub-heading-1" href="/">       

                <a href="/"> <fa-icon icon="window-close" > </fa-icon></a>

                  
            </p>
        </div>
        <div class = "d-flex justify-content-center">
            <p class = "sub-heading-1">  مكتبة المعرفة </p>
        </div>
       
        <br>
        <p>حياك الله،، سوف تجد هنا أغلب الأسئلة والمواضيع والاستفسارات التي قد تساعدك، إذا مازلت تحتاج مساعدة بإمكانك ارسال استفسارك بالضغط على تواصل معنا ،أو الاتصال على خدمة العملاء في أي وقت على 920018816
        </p>
    
        <p class = "sub-heading-1">    1.	ما هو الفرق بين تأمين ضد الغير أو  الطرف ثالث و بين التأمين الشامل؟</p>
<p>التأمين ضد الغير للسيارات هو الحد الأدنى من مستوى التغطية التأمينية اللي تحتاجه للقيادة بشكل قانوني على طرق المملكة. يغطي تأمين ضد الغير تكلفة تعويض الآخرين عن الإصابات أو الأضرار التي تسببتها في الحادث لا سمح الله و من المطالبات القانونية والتعويضات المالية المستحقة للطرف الثالث فقط. هذي التغطية لا توفر لك أي مساعدة أو تعويضات مالية في حال إصابتك أو إصلاح سيارتك في الحادث. 
    التأمين الشامل يوفر حماية وتغطية كاملة ضد الأضرار التي لحقت بسيارتك بسبب حادث. كما أن أي تأمين شامل يشمل بشكل افتراضي التأمين ضد الغير. بالإضافة إلى ذلك توفر وثيقة التأمين الشامل تغطية لسيارتك ضد الأضرار الناجمة عن الحريق، السرقة (بدون إهمال)، الكوارث الطبيعية (الفيضانات، البرد، العواصف، وما إلى ذلك). 
    
    توجد لدينا تغطيات تأمينية أخرى للسيارات نقدمها لك في “أمنت” , وهي تغطيات تم تفصيلها وإضافة مزايا خاصة فيها لتتناسب مع احتياجاتك وميزانيتك.
    </p> 
    <p class = "sub-heading-1">     2.	هل تقوم شركة التأمين بتعويضي عن إصلاح المركبة بسبب حادث مروري في حال كانت التأمين الخاصة بي هي وثيقة تأمين ضد الغير (طرف ثالث)؟
    </p>

    <p>
        شركة التأمين لا تعوض حامل وثيقة تأمين ضد الغير (طرف ثالث) لإصلاح مركبته الخاصة، وإنما تقوم بتعويض الطرف الثالث في حال كانت هناك مسؤولية للحادث من قبل حامل الوثيقة، وذلك حسب الشروط والاستثناءات الموضحة في وثيقة التأمين.
    </p>





    <p class = "sub-heading-1">     
        
3.	ماهي الوثيقة الموحدة للتأمين الإلزامي على المركبات؟    
    </p>
    <p>
        الوثيقة الموحدة للتأمين الإلزامي على المركبات هي وثيقة تحتوي على القواعد العامة والشروط للتأمين .والتي أصدرها البنك المركزي السعودي. لقراءة كامل الوثيقة ومعرفة الحقوق الرجاء الضغط هنا  
    </p>
    <p class = "sub-heading-1">     
        4.	لم يقع لي أي حادث منذ سنوات ولم أستفد من التأمين. لماذا انا ملزم بالتأمين في كل سنة؟
    
    </p>

    <p>
        يجب أن نعلم أن التأمين ليس استثماراً نتوقع منه مردود مباشر، وإنما هو حماية لك بإذن الله من المخاطر والمطالبات المالية الكبيرة أو الصغيرة الناتجة عن الحوادث لا سمح الله والتي لا يستطيع أي فرد التنبؤ بها.
    </p>



    <p class = "sub-heading-1">     
        
        5.	هل موقع “أمنت”  آمن للدفع الإلكتروني؟
    </p>

<p>
    نعم، يتعامل موقع “أمنت”  مع أحد أكبر البنوك السعودية (البنك العربي الوطني) في عملية الدفع عن طريق سداد، كذلك يرتبط موقع “أمنت”  بخدمة نون) للسداد عن طريق البطاقات الائتمانية والذي يمتلك فريق متخصص لمنع الاحتيال والذي سيعمل معك جنباً إلى جنب لإعداد أفضل القواعد والمعايير اللازمة للحد من عمليات الاحتيال. كما سيقوم الفريق بمراقبة المعاملات المالية للبحث عن أي عمليات غير مصرح بها من البطاقات الائتمانية للعملاء.
</p>
    <p class = "sub-heading-1">     
        6.	هل موقع “أمنت”  معتمد ومصرّح من الجهات الحكومية و الرسمية؟ 
    
    </p>
    <p>
        نعم، موقع “أمنت”  موقع إلكتروني لشراء وثائق التأمين تم ترخصيه من البنك المركزي السعودي.  
    </p>
    
    <p class = "sub-heading-1">     
        
        7.	هل تتطلب عملية الشراء إرسال صور للوثائق الشخصية مثل الهوية و الرخصة؟  
    
    </p>
    <p>
        لا حاجة لإرسال أو رفع صور للوثائق الرسمية، يقوم “أمنت”  بالتحقق من صحة المعلومات عن طريق الربط مع مركز المعلومات الوطني والجهات الرسمية ذات الصلة .
    </p>
    <p class = "sub-heading-1">     
        8.	هل تغطي وثيقة التأمين ضد الغير الإصابات الشخصية للسائق والركاب؟
    
    </p>
    <p>
        يرجى الرجوع وقراءة الوثيقة الموحدة للتأمين الإلزامي على المركبات لمعرفة التغطية التأمينية.
    </p>
    <p class = "sub-heading-1">     
        
        9.	هل يمكن نقل التأمين من شخص لآخر عند شراء مركبة مستعملة؟
    </p>
    <p>
        بحسب أنظمة البنك المركزي السعودي، لا يمكن نقل تأمين السيارة من شخص لآخر، وإنما يجب الحصول على تأمين جديد في حال شراء مركبة جديدة أو نقل ملكية مركبة.

ويمكن للمالك السابق استرداد الجزء النسبي من الاشتراك للتأمين (إن وجد) من خلال التواصل مع الشركة المؤمن عندها وذلك على حسب آلية الإلغاء المذكورة في الوثيقة الموحدة للتأمين الإلزامي

    </p>
    
    <p class = "sub-heading-1">     
        10.	هل من الممكن شراء أكثر من وثيقة تأمين على نفس المركبة؟
    
    </p>
<p>
    بحسب أنظمة ولوائح البنك المركزي السعودي، فإنه لا يمكن حمل أو شراء أكثر من وثيقتين على نفس المركبة وبنفس اسم المالك خلال نفس الفترة. علماً أنه يمكن إضافة وثيقة ثالثة جديدة في حال تبقى (14) يوم على انتهاء الوثيقة الأولى.
</p>



    <p class = "sub-heading-1">     
        11.	هل عملية شراء وثيقة التأمين عن طريق موقع “أمنت”  فورية؟ وهل سوف أحصل على الوثيقة بشكل فوري؟    
    </p>  
    <p>
        نعم، يوفر موقع “أمنت”  قنوات دفع آمنة وفورية. وبعد أن تتم عملية شراء الوثيقة بأحد تلك القنوات فإن الوثيقة سوف تصدر للمالك بشكل فوري ويتم إرسال الوثيقة وتفاصيلها عن طريق البريد الإلكتروني المسجل للعميل. كما يمكن تحميل أو طباعة الوثيقة من حسابك الخاص في موقع “أمنت” 
    </p>
    
    
    
    <p class = "sub-heading-1">     
        12.	تبقى على انتهاء وثيقة التأمين الخاصة بي عدة أيام وأريد أن أجدد التأمين للمركبة، ماذا أعمل؟
    </p>    
    <p>
        يمكنك تجديد وإصدار وثيقة تأمين جديدة قبل انتهاء وثيقة التأمين الحالية (ننصح بذلك) بمدة لا تزيد عن (14) يوم من تاريخ انتهاء الوثيقة الحالية. وكل ما عليك فعله هو الدخول إلى حسابك في موقع “أمنت” (وطلب تأمين جديد على أن يكون اختيارك لـ "تاريخ بدء الوثيقة" هو اليوم التالي من تاريخ انتهاء الوثيقة الحالية. مثال: تاريخ انتهاء الوثيقة الحالية هو 15-07-2017، فإنه يجب اختيار تاريخ بدء الوثيقة الجديدة في 16-07-2017).
    </p>
     <p class = "sub-heading-1">     
        13.	لا أقوم بتجديد تأمين المركبة بعد انتهاء وثيقة التأمين السابقة مباشرةً وإنما أقوم بذلك بعد عدة أيام. هل هناك أي مشكلة في ذلك؟
    </p> 
    <p>
        من الافضل ان يتم تجديد وثيقة التأمين قبل انتهاء سريان الوثيقه و ذلك للأسباب التالية: - تفاديا لوقوع حوادث مرورية و ما يترتب عنها من مطالبات مالية على المؤمن. – عدم التجديد لوثيقة التأمين من الممكن ان يعرضك الى مخالفات مرورية. – في حال ترك المركبة لفترة من الزمن بدون تأمين قد يؤدي الى فقدانك احقية الخصم للوثيقة في حال عدم وجود مطالبات. 
    </p>
    
    <p class = "sub-heading-1">     
        14.	هل التسعيرات التي يقدمها موقع “أمنت”  من شركات التأمين تشمل خصم عدم وجود مطالبات؟
    </p>
    <p>
        نعم، تم ربط موقع “أمنت”  مع الجهات المعنيه لضمان حصول العملاء على افضل الاسعار و منها احقية الخصم على عدم وجود مطالبات سابقة و التي تم اقرارها من قبل البنك المركزي السعودي على جميع شركات التأمين.
    </p>
    <p class = "sub-heading-1">     
        15.	أريد أن أقوم بنقل ملكية مركبة وإصدار "رخصة السير" للمركبة (الاستمارة) من المرور، هل يضمن موقع “أمنت” وصول وثيقة التأمين لمركز المعلومات الوطني (المرور) بشكل فوري بعد عملية الشراء؟
    </p>
    <p>
        نعم، حيث ان الالية المتبعه مع شركائنا في شركات التأمين هي اصدار الوثيقة و ربطها في مركز المعلومات الوطني (المرور) فور شراء وثيقة التأمين.
    </p>
    
    <p class = "sub-heading-1">     
        16.	هل تسعيرات الوثائق التي يقدمها موقع “أمنت”  تنافسية؟
    </p>
    <p>
        نعم، موقع “أمنت”  يحرص ان يقدم لعملائه افضل الاسعار مقارنة بسوق التأمين.   
    </p>
    <p class = "sub-heading-1">     
        17.	ما هو العنوان الوطني؟ وكيف اعرف عنواني الوطني؟
    </p>
    <p>العنوان الوطني هو مكان وعنوان إقامة/سكن حامل الوثيقة (مالك الوثيقة/المؤمن له). بإمكانك معرفة عنوانك الوطني عن طريق بوابة العنوان الوطني https://address.gov.sa  و لتسهيل عملية الشراء قمنا بإضافة خريطة جوجل أثناء عملية الشراء حيث يتطلب فقط تحديد عنوانك وسنقوم بتعبئة خانات عنوانك الوطني بشكل آلي.

    </p>

    <p class = "sub-heading-1">     
        18.	ما المقصود برقم الهوية الوطنية؟
    </p>
    
    <p>
        هو الرقم المكون من عشرة ارقام و الموجود في الهوية الوطنية (بطاقة الاحوال).
    </p>


    <p class = "sub-heading-1">     
        19.	ما المقصود برقم الإقامة؟
    </p>
    <p>
        هو الرقم المكون من عشرة ارقام و الموجود في هوية مقيم.
    </p>
    <p class = "sub-heading-1">     
        20.	ما لمقصود برقم الشركة وكيف أستطيع الحصول عليه؟
    </p>  
    <p>
        رقم الشركة هو رقم الحاسب الآلي في مركز المعلومات الوطني، ويمكن إيجاده في الزاوية اليسرى العلوية للسجل التجاري للشركة فوق رقم السجل التجاري ويبدأ بالرقم (7).
    </p>
    <p class = "sub-heading-1">     
        21.	ما هو الرقم التسلسلي للمركبة؟ وأين أستطيع إيجاده؟
    </p> 
    <p>
        هو الرقم الموجود اسفل الاستماره في الجانب الايمن و المكون من تسعة ارقام.  
    </p>
     <p class = "sub-heading-1">     
        22.	ما هو "رقم البطاقة الجمركية" للمركبة؟ وأين أستطيع إيجاده؟
    </p>
    <p>
        هو الرقم الموجود في الجزء العلوي من البطاقة الجمركية في الركن الايسر.
    </p>


    <p class = "sub-heading-1">     
        23.	ما المقصود بتاريخ انتهاء الهوية؟
    </p>
    <p>
        هو تاريخ انتهاء صلاحية الهوية لمالك المركبة و الموجود اسفل الهوية الوطنية. 
    </p>


    <p class = "sub-heading-1">     
        24.	ما المقصود بسنة الميلاد؟
    </p>
    <p>
        هو تاريخ ميلاد مالك المركبة الموجود في الهويه الوطنية (هوية مقيم).  
    </p>


    <p class = "sub-heading-1">     
        25.	ما هي العوامل التي تؤثر على سعر وثيقة التأمين؟
    </p>
    <p>
        توجد عدة عوامل تؤثر على سعر وثيقة التأمين (كل شركة تأمين لها طريقة خاصة في احتساب سعر الوثيقة). فعلى سبيل المثال لا الحصر، نوع المركبة وعمر السائق والمنطقة التي سوف يتم استخدام المركبة فيها والغرض من استخدام المركبة، كل ذلك قد يؤثر على سعر وثيقة التأمين. كذلك هناك عوامل أخرى تؤثر على سعر الوثيقة كوجود مطالبات سابقة أو حوادث تسبب فيها مالك المركبة أو أحد السائقين لها.
    </p>


    <p class = "sub-heading-1">     
        26.	هل إضافة قائد إضافي للمركبة أقل من ٢١ سنة ستؤثر على سعر وثيقة التأمين؟
    </p>
    <p>
        نعم سيؤثر على سعر وثيقة التأمين.
    </p>

    
    <p class = "sub-heading-1">     
        27.	كيف اعرف "نوع وثيقة المركبة؟
    </p>
    <p>
        في حال كانت المركبة المراد التأمين عليها تحمل رخصة سير (استمارة)، فنوع التسجيل يكون "بطاقة التسجيل (استمارة)". أما إذا لم يكن للمركبة رخصة سير (استمارة) -أي أنها سيارة جديدة من الوكالة أو تم استيرادها من الخارج-، فنوع التسجيل في تلك الحالة يكون "البطاقة الجمركية".
    </p>
    <p class = "sub-heading-1">     
        28.	ما المقصود بالغرض من استخدام المركبة؟
    </p>
    <p>
        يقصد بذلك الغرض من استخدام المركبة للاستعمال اليومي، سواء كان ذلك للاستخدام الشخصي أو للتأجير أو لنقل البضائع... الخ.
    </p>

    <p class = "sub-heading-1">     
        29.	ماذا لو كنت أستخدم المركبة للأغراض الشخصية وكذلك لنقل الركاب (مثال: أوبر أو كريم)؟ ماذا أختار؟
    </p>
    <p>
        إذا كان هناك (أي) استخدام آخر مع الاستخدام الشخصي (حتى لو كان قليلاً أو يستخدم في بعض الأحيان)، فإنه يجب اختيار الاستخدام الآخر ولا يتم اختيار "استخدام شخصي". مثال: (أحمد) لديه سيارة خاصة ويستخدمها غالباً للأغراض الشخصية ولكن في عطل نهاية الأسبوع يقوم (أحمد) باستخدام مركبته لتوصيل الأشخاص من مكان إلى آخر باستخدام (أوبر- على سبيل المثال). في حالة (أحمد)، يجب عليه اختيار "نقل ركاب (أوبر)" في خانة (الغرض من الاستخدام).
    </p>

    <p class = "sub-heading-1">     
        30.	حينما اشتريت وثيقة التأمين من موقع “أمنت”  كنت أستخدم المركبة للأغراض الشخصية، ولكن بعد مرور عدة أشهر قررت أن أقوم باستخدامها لنقل الركاب (على سبيل المثال: أوبر أو كريم). ماذا علي أن أعمل؟
    </p>
    <p>
        في حال كان هناك أي تغيير في بيانات أو معلومات المؤمن له أو المركبة أو أي معلومات تؤثر في وثيقة التأمين بعد شراء وثيقة التأمين، فإنه يجب على المؤمن له (مالك الوثيقة) إشعار شركة التأمين المعنية بذلك وتعديل وثيقة التأمين على ضوء ذلك لحفظ حقوق المؤمن له والتي تشمل على سبيل المثال لا الحصر (العنوان الوطني، معلومات المركبة، معلومات مالك الوثيقة، الغرض من استخدام المركبة، عمر السائق، مدينة قيادة المركبة، إلخ..). 
    </p>


    <p class = "sub-heading-1">     
        31.	ماهي عواقب إدخال بيانات غير صحيحة؟
    </p>
    <p>
        بحسب أنظمة ولوائح البنك المركزي السعودي، وبالرجوع إلى الوثيقة الموحدة للتأمين الإلزامي الصادرة من البنك المركزي السعودي، فإنها نصت على أنه إذا ثبت أن المؤمن له أدلى ببيانات غير صحيحة أو أخفى وقائع جوهرية فإن لشركة التأمين الاحتفاظ بحق الرجوع للمؤمن له. وبذلك لا تعد وثيقة التأمين صالحة بموجبه.
    </p>



    <p class = "sub-heading-1">     
        32.	هل يمكن شراء وثيقة تأمين بهوية وطنية أو إقامة منتهية الصلاحية؟
    </p>
    <p>
        لا يمكن ذلك، فيجب تجديد الهوية أولاً.
    </p>



    <p class = "sub-heading-1">     
        33.	ما هو "تاريخ بدء الوثيقة"؟
    </p>
    <p>
        هو تاريخ بدء سريان وثيقة التأمين (بدء التغطية التأمينية). ولا يمكن أن تكون بداية التغطية التأمينية في نفس يوم طلب التأمين، بل يكون بعد يوم واحد على الأقل من تاريخ طلب التأمين وحتى أقصى حد (14) يوم.
    </p>



    <p class = "sub-heading-1">     
        34.	لم أستطيع الحصول على تسعيرة للوثيقة وظهور رسالة "خطأ في جلب تسعيرة لطلبك"؟
    </p>
    <p>
        يرجى المحاولة مرة أخرى لاحقاً والتأكد من صحة المعلومات، وفي حال تكرار الرسالة يمكن التواصل مع خدمة العملاء إما بالاتصال خلال أوقات العمل عبر 920018816 أو إرسال طلب دعم فني عن طريق صفحة "تواصل معنا" وسوف يقوم فريق العمل لدينا بالتواصل معكم في أسرع وقت ممكن.  
    </p>



    <p class = "sub-heading-1">     
        35.	هل عروض الأسعار المقدمة لها فترة صلاحية؟ وهل هي متغيرة؟
    </p>
    <p>
        نعم، العروض المقدمة لها فترة صلاحية محددة تسمى بفترة الشراء وعند انتهاء الفترة يجب القيام من جديد بطلب تسعيرة جديدة.
    </p>



    <p class = "sub-heading-1">     
        36.	ما المقصود بمميزات الوثيقة؟
    </p>
    <p>
        مميزات الوثيقة يقصد بها التغطيات التي تشملها وثيقة التأمين المقدمة من شركة التأمين. وتختلف تلك التغطيات عادةً من شركة تأمين لأخرى.
    </p>


    <p class = "sub-heading-1">     
        37.	ماهي وسائل الدفع الممكنة لشراء وثيقة تأمين في “أمنت” ؟
    </p>
    <p>
        يمكن الدفع وشراء الوثائق إلكترونياً عن طريق البطاقات الائتمانية (فيزا ، ماستر كارد أو أمريكان إكسبريس)، كما يمكنك الشراء باستخدام خدمة سداد و بطاقات مدى وخدمة noon pay وكذلك stc pay
    </p>


    <p class = "sub-heading-1">     
        38.	قمت بالدفع ولم تصلني نسخة من الوثيقة عبر بريدي الإلكتروني؟
    </p>
    <p>
        إذا لم تصلك الوثيقة بعد عملية الدفع وظهور صفحة عملية دفع ناجحة يرجى اتباع الخطوات التالية: الدخول لحسابك في موقع “أمنت”  والضغط على أيقونة "حسابي" في الأعلى، بعد ذلك الضغط على "لوحة التحكم" من القائمة ومن ثم الضغط على "وثائق سارية المفعول". إذا لم يكن هناك وثائق سارية المفعول في حسابك يرجى التواصل مع خدمة العملاء عبر 920018816 أو إرسال طلب دعم فني عن طريق صفحة "تواصل معنا" وسوف يقوم فريق العمل لدينا بالتواصل معكم في أسرع وقت ممكن.
    </p>





    
    <p class = "sub-heading-1">   
        39.	قمت بالتسجيل ولم يصلني رمز التحقق عبر رسالة نصية للجوال؟  
    </p>
    <p>
        سيتم إرسال رمز التحقق خلال أقصى حد (4) دقائق وفي حال لم تصل الرسالة يرجى التأكد من الرقم المستخدم أعلى خانة رمز التحقق، إذا كان الرقم صحيح يرجى الضغط على زر إعادة الإرسال، إذا لم يصلك الرمز خلال عدة محاولات، يرجى التواصل مع خدمة العملاء عبر 920018816 أو إرسال طلب دعم فني عن طريق صفحة "تواصل معنا" وسوف يقوم فريق العمل لدينا بالتواصل معكم في أسرع وقت ممكن.
    </p>


    <p class = "sub-heading-1">     
        40.	هناك خطأ في معلوماتي الواردة في وثيقة التأمين؟
    </p>
    <p>
        إذا كان هناك أي معلومات خاطئة أو غير صحيحة في وثيقة التأمين فيجب التواصل مباشرةً مع شركة التأمين المعنية لتحديث وثيقة التأمين.
    </p>


    <p class = "sub-heading-1">  
        41.	ماهي أوقات دوام عمل خدمة العملاء؟
    </p>
    <p>
        يمكنك التواصل معنا على مدار الساعة عبر القنوات الالكترونية كما يسعد فريق خدمة العملاء باستقبال اتصالاتكم خلال أوقات العمل من يوم الأحد إلى الخميس: من الساعة ۸ صباحاً حتى الساعة ٥ مساءً. يوم الجمعة والسبت: مغلق.
    </p>



    <p class = "sub-heading-1">     
        42.	هل تغطي وثيقة التأمين الإلزامي (ضد الغير) أي سائق يقل عمره ع عن 18 عامًا (هجري) ؟
    </p>
    <p>
        وفقًا للوثيقة الموحدة للتأمين الإلزامي على المركبات ، لا تغطي الوثيقة أي سائق يقل عمره عن 18 عامًا (هجري). ولكي يتم تغطية السائق الذي يقل عمره عن 18 عامًا (هجري) يجب أن يقوم المؤمن له بإضافة هذا السائق ضمن قائمة السائقين الإضافيين حتى يتم تغطيتهم
    </p>



    <p class = "sub-heading-1">     
        43.	هل يجب أن أطبع وثيقة التأمين التي اشتريتها من موقع “أمنت” ؟
    </p>
    <p>
        على الرغم من أن شركة نجم والتي تباشر الحوادث تقوم بالاستعلام عن وثيقة التأمين للمركبة إلكترونياً، إلا أننا ننصح ونحث عملائنا على طباعة وثيقة التأمين والاحتفاظ بها في المركبة دوماً في حال تم طلبها من رجل المرور أو غيره. 
    </p>



    <p class = "sub-heading-1">     
        44.	هل يمكنني الرجوع لحسابي لاحقاً وطباعة الوثيقة؟
    </p>
    <p>
        نعم، يمكنك في أي وقت الرجوع للحساب وطباعة وثيقة التأمين التي تم شرائها.
    </p>



    <p class = "sub-heading-1">     
        45.	هل أستطيع تغيير رقم الجوال؟
    </p>
    <p>
        نعم، يمكنك تغيير رقم جوالك وذلك باتباع الخطوات التالية: ١ـ الدخول لحسابك ٢ـ الضغط على "حسابي" ٣ـ الضغط على "الإعدادات" من القائمة ٤ـ الضغط على أيقونة تعديل رقم الجوال في خانة " رقم الجوال". سيتم التحقق من صحة رقم جوالك الجديد بإرسال رسالة نصية تحوي رمز للتفعيل.
    </p>



    <p class = "sub-heading-1">     
        46.	ما المقصود بـ "وثائق سارية المفعول" والموجودة عند الدخول لحسابي في موقع “أمنت” ؟
    </p>
    <p>
        هي وثائق التأمين التي قمت بشرائها سابقاً من موقع “أمنت” ولم تنتهي بعد صلاحية (فترة) تغطية التأمين لها. 
    </p>



    <p class = "sub-heading-1">    
        47.	ما المقصود بـ "وثيقة منتهية" والتي ستكون ظاهره في ملف العميل المسجل عند الدخول لحسابي في موقع “أمنت” ؟ 
    </p>
    <p>
        هي وثائق/وثيقة التأمين التي قمت بشرائها سابقاً من موقع “أمنت” والتي انتهت فترة تغطية التأمين لها.
    </p>



    <p class = "sub-heading-1">     
        48.	ما المقصود بـ "وثائق قاربت على الانتهاء" والموجودة عند الدخول لحسابي في موقع “أمنت” ؟
    </p>
    <p>
        هي وثائق التأمين التي قمت بشرائها سابقاً من موقع   والتي تبقى على على انتهاء صلاحية التغطية التأمينية فترة زمنية قصيرة. في هذه الحالة يتوجب على مالك المركبة (المؤمن له) بشراء وثيقة تأمين جديدة من موقع “أمنت”  حتى يتفادى القيادة بدون تأمين كما يمكن اختيار تاريخ بداية الوثيقة عند الشراء.
    </p>

    <p class = "sub-heading-1">     
        49.	متى  تكون الوثيقة سارية المفعول بعد انهاء عملية الشراء؟
    </p>
    <p>
        تعتبر وثيقة التأمين سارية المفعول من التاريخ الذي يختاره مالك المركبة عند شراء وثيقة التأمين و الذي سيكون موضح في الوثيقة.
    </p>

    <p class = "sub-heading-1">     
        50.	هل أستطيع إلغاء الوثيقة بعد شراءها من موقع “أمنت” ؟
    </p>
    <p>
        لا يمكن إلغاء وثيقة التأمين عن طريق موقع “أمنت” ، حيث يتوجب على العميل مراجعة شركة التأمين المصدرة للوثيقة لاتمام الالغاء و استرجاع المبالغ المتبقية في حال تطابق الشروط و الاحكام.
    </p>

    <p class = "sub-heading-1">     
        51.	هل موقع “أمنت”  يقوم بتعويضي عن المطالبات؟
    </p>
    <p>
        موقع “أمنت”  متخصص فقط في اصدار و ربط وثائق التأمين فقط ويمكن تقديم المطالبات بشكل مباشر عن طريق شركة التأمين المصدرة للوثيقة. 
    </p>

    <p class = "sub-heading-1">     
        52.	قمت بتعديل/تغيير/إلغاء وثيقة التأمين مع شركة التأمين المعنية، لم أرى هذا التغيير في موقع “أمنت” ؟
    </p>
    <p>
        في حال قام مالك الوثيقة بإجراء أي تعديل على وثيقته لاحقاً مع شركة التأمين المصدرة للوثيقة، فإن هذا التغيير لن يحدث في موقع “أمنت”  ويعتبر ما تم تغييره من شركة التأمين هو الساري والمعمول به.
    </p>

    <p class = "sub-heading-1">     
        53.	هل أستطيع حذف هوية أو مركبة مسجلة عن طريق حسابي في “أمنت” ؟
    </p>
    <p>
        نعم يمكن ذلك بخطوات بسيطه من خلال الدخول لحسابك والتوجه إلى الهويات المسجلة أو المركبات المسجلة، واختيار أيقونة الحذف بجانب المعلومة المراد حذفها. 
    </p>

    <p class = "sub-heading-1">     
        54.	هل يمكن حذف عنوان وطني قديم؟  
    </p>
    <p>
        بالطبع يمكن الحذف و التعديل بسهولة و ذلك من خلال الدخول لحسابك والتوجه لصفحة الهويات المسجلة والضغط على أيقونة التعديل بجانب الهوية المطلوبة. أو تعديل العنوان الوطني لمالك الحساب من خلال صفحة الإعدادات.
    </p>

    <p class = "sub-heading-1">     
        55.	هل أستطيع تغير لغة رسائل البريد الإلكتروني والرسائل النصية التي تصلني من “أمنت” ؟
    </p>
    <p>
        بالتأكيد يمكنك التغيير وذلك باتباع الخطوات التالية: ١ـ الدخول لحسابك ٢ـ الضغط على "حسابي" ٣ـ الضغط على "الإعدادات" من القائمة ٤ـ اختيار اللغة المناسبة في خانة "لغة التواصل الإلكتروني المفضلة".
    </p>

    <p class = "sub-heading-1">   
        56.	هل يقوم موقع “أمنت”  بتذكيري قبل انتهاء صلاحية وثيقة التأمين الحالية؟ 
    </p>
    <p>
        بالتأكيد، يتم اشعار العميل على رقم الجوال المسجل على موقع “أمنت”  وكذلك عبر البريد الالكتروني بقرب انتهاء التغطية التأمينية الحالية.
    </p>

    <p class = "sub-heading-1">     
        57.	هل يهتم فريق “أمنت”  بالمقترحات أو الملاحظات التي أقوم بإرسالها ؟
    </p>
    <p>
        ملاحظاتكم و مقترحاتكم هي الأولوية القصوى بالنسبة لنا حيث اننا نقوم فورا بقرائتها و دراستها و نقوم أيضاً بالتواصل معكم في حال اقتضت الحاجة لذلك 
    </p>

    <p class = "sub-heading-1">     
    </p>
    <p>
    </p>

    <p class = "sub-heading-1">     
    </p>
    <p>
    </p>


    </div>
    </div>