<div style="margin-top: 100px; margin-bottom: 50px;">
    <div class="boxed-item container mt-5">
        <div class = "d-flex justify-content-left">
            <p class = "sub-heading-1" href="/">       

                <a href="/"> <fa-icon icon="window-close" > </fa-icon></a>

                  
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="sub-heading-1"> Privacy Policy </p>
        </div>
        <br>
        <p>
            The privacy policy for the use of your Ammant site has been developed, in
            accordance with the instructions of the Central Bank and to confirm our keenness on
            the interest of the customer and that they understand how to deal with personal data.
        </p>
        <p>
            You should read this privacy policy to ensure that you are familiar with the privacy
            practices of the Ammant service that apply to the entire GCC region. Your use of any
            of the direct services available on this site is an implicit indication of your acceptance
            of these terms and conditions, and if you do not agree to these terms and conditions,
            please do not enter this site, and do not use any of the direct services available on this
            site.
        </p>
        <p class="sub-heading-2"> Main Purpose </p>
        <p>
            The main purpose for which your personal data is used through the Ammant site is
            that pricing information cannot be accessed and determine your needs without it and it
            becomes a main requirement to start using the site services and we will also process
            personal data for other purposes, such as marketing (where you agree), market
            research and fraud prevention We will keep your personal data only for as long as is
            necessary for the purpose for which we need the personal data.
        </p>
        <p>
            We will need to share some of your personal data with some third parties, for example
            insurance companies authorized by the official authorities. Those who quote you
            through our website or app perform checks against different databases to assess your
            eligibility for a quote and make decisions about you by fully automated means. These
            partners are responsible for how they process your personal data, and you should
            review their policies if you wish to do so through their websites available on public
            electronic engines.
        </p>
        <p class="sub-heading-2"> Definitions </p>
        <p>
            - Application means the website (Ammant)
        </p>
        <p>
            - With us or ours or to us means the broker responsible for the website
            (Ammant)
        </p>
        <p>
            - You mean the user of the Ammant application.
        </p>
        <p>
            - The insurance company means the companies authorized to practice insurance
            activity by the Central Bank of Saudi Arabia and contracted with us to show
            their offers through our website and application.
        </p>
        <p class="sub-heading-2"> Policy Scope </p>
        <p>
            Note that this Privacy Policy applies only to this website. On this website, you may
            see links or references to other websites that are not covered by this policy and are
            likely to have different information and practices. Therefore, we encourage you to
            read the privacy policy of each website you visit. We provide these references and
            links for your convenience, and you should not construe this as an endorsement of
            these sites, their content, or their informational practices. You are therefore solely
            responsible for any interactions you may have with such websites.
        </p>
        <p class="sub-heading-2"> No warranty </p>
        <p>
            Due to the nature of the Internet, the Security Service does not warrant that this Site
            or the server that makes it available are free of viruses or other harmful components,
            that no corrupt or other destructive objects will be transmitted, or that no harm will
            occur to your computer. You are solely responsible for adequate protection and
            backup of information and/or equipment and for taking reasonable and appropriate
            precautions to check your computer for viruses or other destructive objects. The user
            bears the full cost of all necessary maintenance, repair, and correction.
        </p>
        <p>
            We do not provide any declarations or assurances as to the accuracy, operation or
            performance of any special edit program that may be used in relation to the site. All
            express or implied guarantees of any kind) shall be obtained to the extent that they are
            marketable, fit for purpose and do not violate the intellectual property of the debtor
            (to the maximum of applicable law. We offer no guarantee against service
            interruption or error-free service, or that the site will provide any specific search
            results.
        </p>
        <p>
            We may change information from time to time without warning and without any
            obligation to maintain up-to-date information or any warranty or assurance as to the
            accuracy or completeness of the information.
        </p>
        <p>
            We are not responsible for the actions or inactions of any customers, other users of the
            Site, advertisers of the Site or third parties to the Site, events, services, or products
            offered by any event organizer, venue, promoter, producer or third party in connection
            with any event or a product sold on the site.
        </p>
        <p>
            The site is controlled and operated by our headquarters in the Kingdom of Saudi
            Arabia. We do not represent or warrant that the information is appropriate or available
            for use in the jurisdictions of other countries, whether in the Arabian Gulf or
            elsewhere. You may use this site only for legal purposes and in accordance with the
            terms and conditions.
        </p>
        <p class="sub-heading-2"> Online payment </p>
        <p>
            If you have chosen to make an online payment for your insurance policy by credit
            card, you will be asked to enter your credit card details online, and we will seek
            permission to withdraw the exact amount from your credit card.
        </p>
        <p>
            The personal information you enter is encrypted using the Secure Sockets Layer
            (SSL) protocol. What this means is that all your information is sent through a secure
            “path” between you and the Ammant site, making it unreadable when it is
            transmitted.
        </p>
        <p class="sub-heading-2"> Information gathering and with whom share it. </p>
        <p>
            While using the Ammant website, you will be asked to provide us with personally
            identifiable information. We have prepared this privacy policy statement with the aim
            of protecting your information.
        </p>
        <p>
            To maintain your trust and respect your right to protect your personal information, we
            will use your information to manage your insurance to ensure your insurance claims
            processing and statistical analysis and may include the disclosure of your information
            within the secured service to the relevant authorities, agents, and insurance companies
            authorized by the official authorities and we do not disclose About your information
            to anyone outside the Ammant website, except in the following cases :
        </p>
        <p>
            * if we have your permission to do so
        </p>
        <p>
            * if we are required or permitted to do so by law
        </p>
        <p>
            * To other companies authorized by the official authorities that provide a service
            to us or to you.
        </p>
        <p>
            If we may transfer the rights and obligations under this Privacy Policy Statement.
        </p>
        <p>
            Most of the data we process will be data we collect directly from you when you
            request a quote. We will ask you various questions to collect the data we need for the
            purpose of providing quotes and comparison information. We will only be able to
            provide a quote if you answer the mandatory questions. We do our best to ensure that
            this information is accurate and up to date, so please do so by letting us know of any
            changes as soon as possible.
        </p>
        <p class="sub-heading-2"> Use of your personal information </p>
        <p>
            Your personal information will be exchanged at different times with some other
            parties approved by official authorities (Alam - Najm - insurance companies) for the
            purposes of insurance assurance and anti-fraud and you may provide that information
            to others if this is required or permitted by law. Sometimes your personal information
            will also be used and analyzed by us, and other companies authorized by official
            bodies for the following purposes :
        </p>
        <p>
            * Administration of our products and services – in the case of insurance
            products, this includes the purposes of insurance underwriting, reinsurance
            and claims processing and may involve disclosing your information to
            insurers, other reinsurance companies and/or regulatory bodies and/or to our
            agents who provide the services on our behalf.
        </p>
        <p>
            * Consider any requests you may make to purchase products and assist in
            making your credit decisions where appropriate.
        </p>
        <p>
            * Assist in making decisions regarding insurance requests, other products and
            any claims made by you, your family members, and/or others involved in your
            insurance requests and claims
        </p>
        <p>
            * Empowering Ammant Service to develop new and innovative products and
            services and to conduct research and studies that aim to improve and develop
            our products and services. We also use your personal information to
            communicate with you and may send you messages such as welcome letters,
            billing reminders, information related to your insurance contracts, offer
            materials and products. We may from time to time send you product or service
            surveys and promotional emails to inform you of other products or services
            currently available with Enaya Ammant.
        </p>
        <p>
            * We may send the information held by us on Ammant site, for processing to
            other companies (or companies acting on their instructions). Entering your
            details on our site constitutes your consent to this use of your personal
            information.
        </p>
        <p class="sub-heading-2"> Data Security </p>
        <p>
            Although we take reasonable steps to protect the information we provide via this
            website, no system is 100% secure or error-free. Therefore, because we do not
            endorse and do not guarantee the security or accuracy of the information we collect or
            provide through this site, you shall confirm your knowledge and consent to this
            without any liability on our party, Your information will not be disclosed to another
            party outside the Ammant service, Unless he agrees to keep your personal
            information strictly confidential and to use it only for the specific purpose for which
            we provided it and in the following cases :
        </p>
        <p>
            * If it is necessary to carry out any product/service agreement, we enter with
            you.
        </p>
        <p>
            * if you agree to such disclosure.
        </p>
        <p>
            * If such disclosure is required or permitted by law.
        </p>
        <p>
            * If we have the right to transfer the rights and/or obligations as provided under
            the terms of any document, you may purchase.
        </p>
        <p>
            * If the third party provides benefits or services to you under or in connection
            with any product/service agreement entered directly.
        </p>
        <p class="sub-heading-2"> Tracking data and cookies </p>
        <p>
            - We use cookies and similar tracking technologies to learn about activity on
            our Service and hold certain information.
        </p>
        <p>
            - Cookies are files that contain a small amount of data and which may include
            an anonymous unique identifier. Cookies are sent to your browser from a
            website and stored on your device.
        </p>
        <p>
            - Tracking technologies also used are tags, beacons, and scripts. These
            technologies are used to collect, track, and analyze information to improve our
            service to you.
        </p>
        <p>
            - You can direct your browser to refuse all cookies or to alert you when a
            cookie is being sent. However, if you do not accept cookies, you may not be
            able to use parts of our Service.
        </p>
        <p class="sub-heading-2"> Amendments </p>
        <p>
            Improvements in technology may result in changes in the way we display, record, and
            use your personal information. If we believe that the changes may be harmful to you,
            we will notify you, by e-mail and text message (in application of the rules governing
            the electronic insurance brokerage business). By sending a notice of the modification
            to the site, and if you use the site after such notice, we will assume that you agreed to
            those changes automatically without the need to provide written notice from you to do
            so.
        </p>
        <p class="sub-heading-2"> Inquiries </p>
        <p>
            Any inquiries or comments about the Sites or the Privacy Policy shall be directed via
            e-mail using the form on the "Contact Us" page on the <a href="https://ammant.com">www.ammant.com</a>
            website.
        </p>
        <p class="sub-heading-2"> Applicable Law and Competent Courts </p>
        <p>
            These Terms of Use shall be governed by and construed in accordance with the law of
            the Kingdom of Saudi Arabia. Disputes arising in connection with these Terms of Use
            shall be subject to the exclusive jurisdiction of the Jeddah Courts in the Kingdom of
            Saudi Arabia.
        </p>
    </div>
</div>