<div class="container  justify-content-center">
    <div class="d-flex flex-column justify-content-between">
       <div class="card mt-1 ">
     
          <div>
             <h5 class=" px-5 ">{{"Auth.PasswordReset.ResetPasswordText"|translate}}</h5>
          </div>
          <span  class="mb-2 px-6 ">{{"Auth.PasswordReset.VerificationStatement"|translate}} </span>
       </div>
       <div class="card two bg-white px-5 mb-5">
                    <!-- ------------------------------ Alert(s) ------------------------------- -->
       <!-- Error(s) Alert -->
       <ngb-alert *ngIf="isErrorAlertVisible" type="danger" (close)="isErrorAlertVisible = !isErrorAlertVisible">
         <small>{{ errorMessage }}</small>
         <small *ngIf="validationErrors">
            <ul class="errors-list">
               <li *ngFor="let error of validationErrors">{{error}}</li>
            </ul>
         </small>
      </ngb-alert>

      <!-- Success Message -->
      <ngb-alert *ngIf="isSuccessAlertVisible" type="success" (close)="isSuccessAlertVisible = !isSuccessAlertVisible">
         <small>{{ 'Auth.PasswordReset.CodeResendText' | translate }}</small>
      </ngb-alert>

          <!-- ----------------------------------------------------------------------- -->
          <!--                            Reset Password Form                            -->
          <!-- ----------------------------------------------------------------------- -->
          <form [formGroup]="confirmResetPasswordFormGroup" autocomplete="off">
             <!-- ------------------------------ Verfication Code  ------------------------------- -->
             <div class="form-group">
                <div class="input-group">
                   <input class="form-control" formControlName="code"  type="text" 
                      [placeholder]="('Auth.PasswordReset.ResetCode' | translate)">
                      <div class=" ">
                        <span class="input-group-text calendar-icon">
                            <fa-icon icon="user-cog"> </fa-icon>
                        </span>
                     </div>
                
          </div>
          <div  (click)="toggleFieldTextType()">
            <a (click)="resendcode()"   id="password-reset-link" href="javascript:void(0)">
               {{"Auth.ResendVerificationCodeText"|translate}}
               <h6 *ngIf="isLoadingResend" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></h6>   </a>
         </div>
             </div>          
             <!-- ------------------------------ Password ------------------------------- -->
             <!-- Password Input -->
             <div class="form-group">
                <div class="input-group">
                   <input  class="form-control" formControlName="passwordCtrl" type="password" 
                      [placeholder]="('Auth.PasswordReset.NewPasswordText' | translate)"
                      [type]="fieldTextType ? 'text' : 'password'">
                   <!-- Eye Icon -->
                   <div class=" ">
                  
                     <div class="input-group-text calendar-icon input-group-append" (click)="toggleFieldTextType()">
   
                       <fa-icon [icon]="(fieldTextType ? 'eye-slash':'eye')"></fa-icon>
                    </div>
                  </div>
                </div>
                    <!-- Password Validation Message -->
             <div *ngIf="confirmResetPasswordForm.passwordCtrl.errors">
               <div class="v-message" *ngIf="isSubmitting && confirmResetPasswordForm.passwordCtrl.errors.required">
                  {{ 'Errors.EmptyInputField' | translate }}
               </div>
               <div class="v-message"
                  *ngIf="confirmResetPasswordForm.passwordCtrl.touched && (confirmResetPasswordForm.passwordCtrl.errors.passwordStrength || confirmResetPasswordForm.passwordCtrl.errors.minlength)">
                  {{ 'Errors.ShortPassword' | translate }}
               </div>
            </div>
             </div>
         
             <!-- -------------------------- Password Confirm --------------------------- -->
             <!-- Password Confirmation Input -->
             <div class="form-group">
                <div class="input-group">
                   <input class="form-control" formControlName="confirmPasswordCtrl" type="password" 
                      [placeholder]="('Auth.ConfirmPasswordText' | translate)"
                      [type]="fieldTextTypeCompar ? 'text' : 'password'">
                   <!-- Eye Icon -->
                   <div class=" ">
                  
                     <div class="input-group-text calendar-icon input-group-append" (click)="toggleFieldTextType()">
   
                       <fa-icon [icon]="(fieldTextType ? 'eye-slash':'eye')"></fa-icon>
                    </div>
                  </div>
                </div>

             <!-- Password Confirmation Validation Messages -->
             <div *ngIf="confirmResetPasswordForm.confirmPasswordCtrl.errors">
               <div class="v-msg" *ngIf="isSubmitting && confirmResetPasswordForm.confirmPasswordCtrl.errors.required">
                  {{ 'Errors.EmptyInputField' | translate }}
               </div>
               <div class="v-msg"
                  *ngIf="confirmResetPasswordForm.confirmPasswordCtrl.touched && confirmResetPasswordForm.confirmPasswordCtrl.errors.ConfirmPassword">
                  {{ 'Errors.PasswordNotMatch' | translate }}
               </div>
            </div>

                
             </div>
 
             <!-- -------------------------- Submit --------------------------- -->
 
             <div class="row d-flex justify-content-center brder ">
                <button (click)="SendConfirmation()" class="submit-btn form-control" type="submit">
                   {{"App.SaveChangesText"|translate}}
                   <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                </button>
             </div>
 
          </form>
       </div>
    </div>
 </div>