<div style="margin-top: 100px; margin-bottom: 50px;">
    <div class="boxed-item container mt-5">
        <div class="d-flex justify-content-center">
            <div class = "d-flex justify-content-left">
                <p class = "sub-heading-1" href="/">       
    
                    <a href="/"> <fa-icon icon="window-close" > </fa-icon></a>
    
                      
                </p>
            </div>
            <p class="sub-heading-1"> ­­Terms and Conditions - Ammant </p>
        </div>
        <br>
        <p>
            Ammant is one the products of Al Mamoon Overseas Insurance Brokers Ltd. It’s one of the authorized brokerage
            agencies and licensed by Saudi Arabia Monetary Fund.
            Ammant website is catered for the personal use only and to compare between the insurance offers in addition
            to allowing its users to browse and / or request insurance
            service. The website provides payment facilities for paying the financial requirements to receive insurance
            services,
            accordingly it’s total prohibited to use Ammant website by (insurance brokers – Representatives). This use
            is illegal according to SAMA regulations.
            Ammant website reserves the right for legal prosecution and reporting to the concerned authorities about any
            insurance broker or representative who uses the website
            illegally. Ammant website reserves the right to claim any insurance broker or representative who uses the
            website illegally for any legal or financial consequences
            resulting from this illegal use.
        </p>
        <p class="sub-heading-2"> Definitions:</p>
        <p>
            - (We – Us – Our – Ammant) shall mean the specified Ammant website.
        </p>
        <p>
            - (You – Our – The user) means the user of Ammant application..
        </p>
        <p>
            - Service provider shall mean the insurance company licensed to practice the insurance activity by SAMA and
            have a contract with us for displaying its offers
            through our website and application.
        </p>
        <p>
            - (Service – Services) Means the service provided for fair comparison between the insurance services and
            information about it.
        </p>
        <p>
            - User information means the personal details you provide us through Ammant website.
        </p>
        <p class="sub-heading-2"> General Regulations </p>
        <p>
            - Please read these service conditions before accessing ammant.com or using it. By using this website or any
            of the services provided through it,
            you accept to be subject to the terms and conditions, and you consent to abide by the privacy policy of this
            website. If you do not agree to all the terms and conditions
            of use of the privacy policy, you shouldn’t access or use the website.
        </p>
        <p class="sub-heading-2"> Use of the website </p>
        <p>
            - By entering and using Ammant website, you acknowledge that you fulfill all the eligibility requirement, as
            the user should be fully eligible and competent,
            and to consent to the terms, conditions, commitments, obligations and guarantees stipulated under these
            conditions and abiding by them.
        </p>
        <p>
            - You acknowledge and represent that all the data entered is correct and not misleading. If any information
            is found otherwise,
            you commit to bear the absolute liability. The user is responsible for keeping the confidentiality of his
            account and password,
            and to limit the access to his own PC. You agree to accept liability for all the activities performed within
            your account or using your password.
        </p>
        <p>
            - You warrant that you will not do or attempt to do anything that affects the integrity and security of this
            Site, causes or may cause unacceptable harm,
            damage or inconvenience to other users of this Site or (that harms us). Further, you will not collect,
            extract or download and/or display or advertise any
            material on or from this website on any other website or any other online or offline service by any means,
            whether in print, electronic or otherwise.
            If you violate any of the above, we may take such action as we deem appropriate, including preventing you
            from accessing this Website, as well as taking legal action
            against you and disclosing this information to appropriate legal and/or official authorities.
        </p>
        <p class="sub-heading-2"> General Conditions </p>
        <p>
            - We reserve the right to refuse service for any reason and at any time we consider fit.
        </p>
        <p>
            - Ammant provides and displays insurance products for insurance companies, which are licensed by the Central
            Bank of Saudi Arabia.
        </p>
        <p>
            - We reserve the right to refuse or delete any information or documents you provide, in our sole discretion.
        </p>
        <p>
            - We reserve the right at any time to terminate, limit or suspend your access to your Documents without any
            prior notice and will not be liable to you if your
            Documents is withdrawn, canceled or unavailable at any time, for any reason or for any period.
        </p>
        <p>
            - You should be aware that your data (except for your credit card information) may be transferred
            unencrypted and may be subject to transfer between different
            networks on the Internet, and that any changes made to it are in order to reconcile and modify it to suit
            the technical requirements of the networks or devices
            connected between us. However, credit card information is always encrypted before it is transmitted over the
            Internet.
        </p>
        <p>
            - We are not responsible if the information available on this site may be inaccurate, incomplete or not
            up-to-date, as the materials included on this
            site have been included as information only and should not be relied upon or used as the sole source for
            making decisions without referring to sources
            the main information is to be more accurate, complete and current, and
            any reliance by you on the materials included on this site will be at your own risk.
        </p>
        <p class="sub-heading-2"> User commitments </p>
        <p>
            - Ammant is a website for personal use only and is exclusive to the relevant individual and is not
            transferable to any third party.
            Therefore, the use of Ammant by insurance brokers or representatives is strictly prohibited, and such use is
            considered illegal according to the regulations
            of the Central Bank of Saudi Arabia.
        </p>
        <p>
            - It is the user's (YOUR) responsibility to ensure that all information you provide to us or enter on the
            Website is complete and accurate, so please double-check
            your information before submitting it including providing a valid email and mobile phone number to be able
            to receive important updates and notifications about Your
            insurance policy.
        </p>
        <p>
            - You should read the terms and conditions of the insurance company that issued the insurance policy, as
            well as read the unified policy for compulsory motor insurance,
            which you can access by clicking on the word “Terms and Conditions” next to the chosen quote on the price
            page.
        </p>
        <p class="sub-heading-2"> Services provided </p>
        <p>
            - Ammant offers insurance products affiliated with registered and authorized insurance companies through the
            Central Bank of Saudi Arabia to compare among themselves
            to make a decision based on those comparisons, and there is no fee or fee for this service.
        </p>
        <p>
            - Ammant website displays prices for insurance products that are available on the site at competitive prices
            so that the user has the option to choose the desired
            coverage at the desired price without providing financial or investment advice or advice, and we do not
            differentiate between service providers (insurance companies).
        </p>
        <p>
            - All information you provide to us is used for the purpose of formulating the quotes of the Insurance
            Companies. Therefore, it is important to double-check all
            the information to ensure that it is complete and accurate. We endeavor to ensure that we accurately convey
            the information you have provided to the Service Provider
            for the purpose of providing a price comparison.
        </p>
        <p class="sub-heading-2"> Order rules: </p>
        <p>
            - As a registered user, you can order and purchase products through Ammant. If you are required to pay an
            amount on a product you have ordered, you will have to pay the full amount/installment for that product as
            indicated during the ordering process. All orders placed by
            you on the Ammant website are subject to acceptance in accordance with these Terms.
        </p>
        <p>
            - Confirmation is the stage that determines the final details of your application. After that, we will send
            you a confirmation email with details of the products you have ordered. Please note that this email is not
            for order confirmation or acceptance.
        </p>
        <p>
            - After your application is accepted, the contract between you and the insurance company is completed. After
            completing any pending procedures including the disclosures, and we have received the full value / premium
            of the product, we will send you the insurance policy on the mail registered in the document. It is saved in
            a "valid document" file. It can be accessed through the control panel on your Ammant account.
        </p>
        <p class="sub-heading-2"> Steps to Order: </p>
        <p>
            - The user shall enter the main information for the pricing process.
        </p>
        <p>
            - A comparison table with additional features will be displayed.
        </p>
        <p>
            - The appropriate offer is determined and confirmed after reading the terms and conditions of the insurance
            company presenting the offer.
        </p>
        <p>
            - Enter the payment information, then choose the payment method.
        </p>
        <p>
            - After payment, the insurance policy is issued.
        </p>
        <p class="sub-heading-2"> Payment methods: </p>
        <p>
            - All payments are directed directly to the insurance companies, and the site has no control over the amount
            mentioned.
        </p>
        <p>
            - In order to ensure that the card is not used without your consent, if you want to use the MasterCard or
            Visa card as a payment method, you must enter the card details on Ammant and then you will be directed to
            the portal to confirm the payment for the MasterCard and Visa card processing. Your data will be verified
            using the appropriate databases by third parties authorized by the official authorities. By accepting these
            terms, you agree to make these checks. The information you have provided may be disclosed to the payment
            processing website (MasterCard and Visa), which may keep a record of that information. Please note that this
            is only done to confirm your identity. All information you provide to us will be treated in strict
            accordance with the laws in force in the Kingdom of Saudi Arabia.
        </p>
        <p class="sub-heading-2"> The supported payment methods are: </p>
        <p>
            - Credit card (Visa – Master Card)
        </p>
        <p>
            - SADAD SERVICE
        </p>
        <p>
            - Service (MADA)
        </p>
        <p>
            - Apple Pie - STSP
        </p>
        <p>
            All mentioned prices are in Saudi Riyals and include taxes (if any) at the rates currently applied.
            Regarding credit and debit cards, please note that it is your responsibility to check with your bank first
            before making a purchase that they do not charge any additional fees or services for using these cards. If
            there is any foreign exchange risk for you, we will not be liable for any additional fees that banks (or any
            third party involved) may charge your credit or debit card.
        </p>
        <p>
            We may block the use of certain Cards for any reason at our sole discretion.
        </p>
        <p class="sub-heading-2"> Liability </p>
        <p>
            - We are responsible for ensuring that we accurately reflect product or service quotes through price
            comparison technology. We are also responsible for the factual data we provide to you and the protection of
            your data in accordance with the rules and regulations of the Central Bank of Saudi Arabia.
        </p>
        <p>
            - We do our best to provide you with high quality service and a virus free website. However, we are not
            responsible for computer viruses or other computer related problems that you may experience as a result of
            using this website, which are beyond our control. We recommend that you use the right virus scanner for you.
        </p>
        <p>
            - We are not responsible for any comments, opinions, ratings or other postings on this Site by third
            parties.
        </p>
        <p>
            - The insurance company and third party websites are responsible for failures or errors on their websites.
        </p>
        <p class="sub-heading-2"> SMS and Notifications </p>
        <p>
            - By creating an account, you agree that Ammant Services may send SMS messages to you as part of the normal
            business process of your use of the Services. Notice will be deemed to have been received by you unless we
            are notified that the email to which it is sent is invalid and not working. If a notice is made by selecting
            it on our site, the notice will be deemed to have been given when you place it on the site.
        </p>
        <p>
            - Trademarks, copyrights and intellectual property.
        </p>
        <p>
            - All intellectual property rights, whether registered or unregistered in the Site, and all information and
            designs contained on the Site are owned by us, including but not limited to. Text, graphics, software,
            images, video, music, and audio, and their selection and formatting, as well as all software compilations,
            source codes, and major software. All contents of the site are also protected by copyright as a collective
            work subject to the copyright laws of the Kingdom of Saudi Arabia and international conventions. All
            copyrights reserved.
        </p>
        <p>
            - We have not been notified that the e-mail address is invalid and not working, and if the notification is
            made by placing it on our website, the notification will be deemed to have been delivered when it is placed
            on the website.
        </p>
        <p class="sub-heading-2"> External links </p>
        <p>
            - The Site may include advertisements with external links on separate web pages (external websites). After
            clicking on or accessing these external sites, you will leave our website. We do not verify, sponsor,
            enhance, warrant or control the content of any of the External Sites, unless otherwise expressly provided in
            the Terms. We will not be responsible or liable for the content displayed on external sites, and you will be
            able to access such external sites at your own risk. You also agree not to link any other website or
            external websites to the insurance website without the prior written consent of Ammant. We are not
            responsible if third party sites send you cookies or collect data. You are also responsible for checking
            external sites to locate their own terms and conditions and privacy policy and to review this Agreement, and
            you acknowledge that you are accessing and/or referring to external sites at your own risk.
        </p>
        <p class="sub-heading-2"> Termination: </p>
        <p>
            We may issue a notice, temporarily suspend your right to access or permanently terminate your right to use
            this Site, if you:
        </p>
        <p>
            - Material breach of any of these terms and conditions.
        </p>
        <p>
            - Violate or attempt to infringe any rights of any other user(s) of this Website and/or third parties in
            connection with this Website;
        </p>
        <p>
            - You have used this site to commit or attempt to commit a crime.
        </p>
        <p>
            - Abuse, hack or attempt to hack any part of Ammant.com.
        </p>
        <p class="sub-heading-2"> Applicable Law and Jurisdiction </p>
        <p>
            These Terms apply to your use of the Website and are in compliance with the laws in force in the Kingdom of
            Saudi Arabia. By using the Website, you expressly agree to the applicable law and the jurisdiction and
            jurisdiction of the Kingdom of Saudi Arabia to the Terms of Use. Any dispute over the content of the site is
            subject to the exclusive jurisdiction of the courts located in the city of Jeddah, Kingdom of Saudi Arabia
            regardless of your geographical location.
        </p>
        <p class="sub-heading-2"> Amendments and Adjustments </p>
        <p>
            - Improvements in technology may result in changes in the way your personal data is displayed, recorded, and
            used. If we believe that the changes may be harmful to you, we will notify you by e-mail and SMS (in
            application of the rules governing the electronic insurance brokerage business). By posting notice of the
            modification on the Site, and if you use the Site after such notice, we will assume that you have agreed to
            those changes automatically without your written notice.
        </p>
        <p>
            - We reserve the right to change the terms and conditions at any time. Any such changes will be effective on
            the day they are posted on the Ammant website, so you should read the terms carefully before using Ammant
            when registering for an account or using the Services and each time you use www.ammant.com. We also
            recommend that you print a copy for future reference. If you use the Site after such notice, we will assume
            that you have agreed to those changes automatically without the need to provide written notice from you.
        </p>
        <p class="sub-heading-2"> For communication or complaints </p>
        <p>
            Any enquiries, complaints or comments about the website, the term and conditions thereof should be directed
            through email using the template available in (Contact us) page on <a href = "https://ammant.com">www.ammant.com</a>.
        </p>
    </div>
</div>