<div style="margin-top: 100px; margin-bottom: 50px;">
    <div class="boxed-item container mt-5">
        <div class = "d-flex justify-content-left">
            <p class = "sub-heading-1" href="/">       

                <a href="/"> <fa-icon icon="window-close" > </fa-icon></a>

                  
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="sub-heading-1">سياسة الخصوصية</p>
        </div>
        <br>
        <p>
            وُضعت سياسة الخصوصية الخاصة باستخدام موقع أمنت طبقاً لتعليمات البنك المركزي وتأكيداً لحرصنا على مصلحة
            العميل وأن يتفهم كيفية التعامل مع بياناته الشخصية.
        </p>
        <p>
            ينبغي عليك قراءة سياسة الخصوصية هذه لضمان معرفتك بممارسة الخصوصية لجى خدمة أمنت التي تسري على منطقة دول
            الخليج العربي بالكامل.
            ويُعد استخدامك لأي من الخدمات المباشرة المتاحة في هذا الموقع بمثابة إشارة ضمنية على موافقتك على هذه
            البنود والشروط، وإذا كنت لا توافق على هذه البنود والشروط، يرجي عدم الدخول إلى هذا الموقع وعدم استخدام
            أي من الخدمات المباشرة المتاحة في هذا الموقع.
        </p>
        <p class="sub-heading-2"> الغرض الرئيسي</p>
        <p>
            يُعد الغرض الرئيسي الذي بناءً عليه يتم استخدام بياناتك الشخصية من خلال موقع أمنت هو أنه لا يمكنك الوصول إلى
            معلومات التسعير وتحديد احتياجاتك بدونها وتصبح مطلب رئيسي لبدء استخدام خدمات الموقع كما سنقوم أيضاً بمعالجة
            البيانات الشخصية لأغراض أخرى،
            مثل التسويق (حيثما وافقت)، وأبحاث السوق ومنع الاحتيال. سنحتفظ ببياناتك الشخصية فقط طالما كان ذلك ضرورياً
            للغرض الذي نحتاج إليه من أجل البيانات الشخصية.
        </p>
        <p>
            سنحتاج إلى مشاركة بعض بياناتك الشخصية مع بعض الجهات الخارجية‘ على سبيل المثال شركات التأمين المصرح لهم من
            قبل الجهات الرسمية، والتي تقدم عروض أسعار لك من خلال موقعنا أو تطبيقنا بإجراء فحوصات مقابل قواعد بيانات
            مختلفة لتقييم أهليتك للحصول على عرض أسعار ويتخذون قرارات بشأنك بوسائل مؤتمتة بالكامل.
            هؤلاء الشركاء مسؤولون عن كيفية معالجتهم لبياناتك الشخصية وعليك الإطلاع على سياساتهم في حال رغبت بذلك من خلال
            مواقعهم الإلكترونية المتاحة على المحركات الإلكترونية العامة.
        </p>
        <p class="sub-heading-2"> التعريفات</p>
        <p>
            - تطبيق يعني موقع (أمنت Ammant)
        </p>
        <p>
            - معنا أو خاصتنا أو إلينا تعني الوسيط المسئول عن موقع (أمنت Ammant)
        </p>
        <p>
            - أنت تعني مستخدم تطبيق (أمنت Ammant)
        </p>
        <p>
            - شركة التأمين تعني الشركات المصرح لها ممارسة نشاط التأمين من قبل البنك المركزي السعودي والمتعاقدة معنا
            لإظهار عروضها خلال موقعنا وتطبيقنا
        </p>
        <p class="sub-heading-2"> نطاق السياسة</p>
        <p>
            يرجى العلم بأن سياسة الخصوصية هذه تنطبق فقط على هذا الموقع. ففي هذا الموقع، قد ترى روابط أو مراجع لمواقع ويب
            أخرى لا تغطيها هذه السياسة، ومن المرجح أن يكون لها ممارسات ومعلومات مختلفة. ولذلك فإننا نشجعك على قراءة
            سياسة الخصوصية لكل موقع ويب تزوره. ونحن نقدم هذه المراجع
            والروابط لراحتك، ولا ينبغي أن تفسر ذلك على أننا نؤيد هذه المواقع، ومحتواها، أو ممارساتها المعلوماتية. ولذلك
            فأنت وحدك المسؤول عن أي تفاعلات قد تقوم بها مع مثل هذه المواقع.
        </p>
        <p class="sub-heading-2"> عدم الضمان </p>
        <p>
            نظراً لطبيعية الإنترنت، لا تضمن خدمة أمنت خلو هذا الموقع أو جهاز الخادم الذي يتيحه من الفيروسات أو العناصر
            الضارة الأخرى أو عدم إرسال الأشياء المفسدة أو المتلفة الأخرى أو عدم حدوث أي ضرر لجهاز الكمبيوتر الخاص بك.
            وتتحمل المسئولية وحدك عن الحماية الملائمة والنسخ الاحتياطي للمعلومات و/أو الأجهزة وعن اتخاذ الاحتياطات
            المعقولة والملائمة لفحص جهاز الكمبيوتر للتأكد من خلوه من الفيروسات أو الأشياء المتلفة الأخرى.
            ويتحمل المستخدم كامل تكلفة جميع عمليات الصيانة والإصلاح والتصحيح الضرورية.
        </p>
        <p>
            إننا لا نقدم أي إقرارات أو ضمانات بخصوص دقة أو تشغيل أو أداء أي برنامج خاص للغير قد يتم إستخدامه فيما يتعلق
            بالموقع يتم توفير المعلومات على هذا الموقع على أساس
            " ما هو متاح".
            وتستثنى جميع الضمانات الصريحة أو الضمنبة من أي نوع ( بما في ذلك الضمانات القابلة للتسويق، وملائمة الغرض،
            وعدم التعدي على الملكية الفكرية لدى الغير) إلى أقصى حد يسمح به القانون المعمول به.
            ونحن لا نقدم أي ضمان ضد توقف الخدمة أو تقديم خدمة خالية من الأخطاء، أو أن الموقع سوف يوفر أي نتائج بحث
            محددة. وقد نقوم بتغيير المعلومات من وقت لآخر دون سابق إنذار ودون أي إلتزام بالحفاظ على المعلومات محدثة أو أي
            إقرار أو ضمان بخصوص دقة أو اكتمال المعلومات.
        </p>
        <p>
            نحن لسنا مسؤولين عن أفعال أو تقاعس أي عملاء، أو مستخدمين آخرين للموقع، أو المعلنين على الموقع أو الغير
            بالموقع أو الأحداث أو الخدمات أو المنتجات المقدمة من أي من منظمي الفعاليات، أو مكان الفعاليات،أو المروج، أو
            المنتج أو الغير فيما يتعلق بأي حدث أو منتج يباع على الموقع.
        </p>
        <p>
            ويتم التحكم في الموقع وتشغيله من قبل مقرنا في المملكة العربية السعودية. ونحن لا نقر أو نضمن أن المعلومات
            مناسبة أو متاحة للاستخدام في ولايات قضائية تابعة لدول أخرى سواء في الخليج العربي أو غيرها. يمكنك استخدام هذا
            الموقع فقط لأغراض قانونية ووفقاً للشروط والأحكام.
        </p>
        <p class="sub-heading-2"> الدفع عبر الإنترنت </p>
        <p>
            إذا كنت قد اخترت إجراء الدفع عبر الإنترنت مقابل وثيقة التأمين الخاصة بك عن طريق بطاقة الائتمان، سوف يطلب منك
            إدخال تفاصيل بطاقة الائتمان الخاصة بك على الإنترنت، وسوف نسعى للحصول على إذن لسحب المبلغ المحدد من بطاقة
            الائتمان الخاصة بك.
        </p>
        <p>
            يتم تشفير المعلومات الشخصية التي تقوم بإدخالها باستخدام بروتوكول طبقة المقابس الآمنة (SSL).
            وما يعنيه ذلك هو أن جميع المعلومات الخاصة بك يتم إرسالها من خلال
            "مسار"
            آمن بينك وبين موقع أمنت مما يجعلها غير مقروءة عندما يتم نقلها.
        </p>
        <p class="sub-heading-2"> جمع المعومات ومع من نشاركها </p>
        <p>
            أثناء استخدامك لموقع أمنت سيُطلب منك تزويدنا بمعلومات متعلّقة بتعريف الشخصية وقد أعددنا بيان سياسة الخصوصية
            هذا بهدف الحفاظ على معلوماتك والاحتفاظ بثقتك واحترام حقك في حماية معلوماتك الخصية، وسوف نستخدم معلوماتك
            لإدارة التأمين الخاص بك لدينا، بما في ذلك ضمان التأمين، معالجة المطالبات والتحليل الإحصائي.
            وقد يشمل ذلك عن الكشف عن معلوماتك داخل خدمة أمنت إلى الجهات ذات العلاقة، والوكلاء، وشركات التأمين المصرح لهم
            من قبل الجهات الرسمية وإننا لا نكشف عن معلوماتك لأي شخص خارج موفع أمنت، إلا في الحالات التالية :
        </p>
        <p>
            * إذا حصلنا على إذن منك بذلك
        </p>
        <p>
            * إذا طُلب منا أو سُمح لنا ذلك بموجب القانون
        </p>
        <p>
            * إلى الشركات الأخرى المصرحة من قبل الجهات الرسمية التي تقدم خدمة لنا أو لك
        </p>
        <p>
            * إذا جاز لنا نقل الحقوق والالتزامات بموجب بيان سياسة الخصوصية هذا
        </p>
        <P>
            ستكون معظم البيانات التي نعالجها بيانات نجمعها منك مباشرة عند طلب عرض الأسعار. سنطرح عليك أسئلة مختلفة لجمع
            البيانات التي نحتاجها لغرض تقديم عروض الأسعار ومعلومات المقارنة. لن نتمكن من تقديم عرض الأسعار إلا إذا أجبت
            على الأسئلة الإلزامية.
            وإننا نبذل قصارى جهدنا لضمان دقة وحداثة تلك المعلومات، ولذلك يُرجى مساعدتنا في القيام بذلك عن طريق إعلامنا
            بأية تغييرات في أقرب وقت ممكن.
        </P>
        <p class="sub-heading-2"> استخدام معلوماتك الشخصية </p>
        <p>
            سيتم التبادل في أوقات مختلفة لمعلوماتك الشخصية مع بعض الجهات الأخرى المعتمدة من قبل الجهات الرسمية (علم -
            نجم - شركات التأمين) لأغراض ضمان التأمين ومكافحة الاحتيال تقدم تلك المعلومات لآخرين إذا كان ذلك مطلوباً أو
            مسموحاً بجانب القانون.
            وسيتم أيضاً أحياناً استخدام معلوماتك الشخصية وتحليلها من قبلنا وشركات أخرى مصرح لها من قبل جهات رسمية
            للأغراض التالية :
        </p>
        <p>
            * إدارة شئون المنتجات والخدمات التي نقدمها - في حال منتجات التأمين، يشتمل ذلك على أغراض ضمان التأمين، إعادة
            التأمين ومعالجة المطالبات وقد تشتمل على إفشاء معلوماتك لشركات التأمين، و/أو شركات إعادة تأمين أخرى و/أو
            الهيئات التنظيمية و/أو إلى وكلائنا الذين يقدمون الخدمات نيابة عنا.
        </p>
        <p>
            * دراسة أي طلبات قد تقدمها لشراء المنتجات والمساعدة في اتخاذ القرارات المتعلقة بالائتمان الخاصة بك حيثما
            يكون ملائماً.
        </p>
        <p>
            * المساعدة في اتخاذ القرارات بخصوص طلبات التأمين، المنتجات الأخرى وأي مطالبات تقوم أنت بتقديمها، و/أو أفراد
            أسرتك، و/أو آخرين ممن لهم علاقة بطلبات التأمين والمطالبات الخاصة بك.
        </p>
        <p>
            * تمكين خدمة أمنت لتطوير منتجات وخجمات جديدة وإبداعية وإجراء البحوث والدراسات التي تهدف لتحسين وتطوير
            منتجاتنا وخدماتنا. كما أننا نستخدم معلوماتك الشخصية للتواصل معك.
            وقد نرسل لك بعض الرسائل كخطابات الترحيب والتذكير المتعلق بالفواتير والمعلومات ذات الصلة بعقود التأمين الخاصة
            بك بالإضافة إلى مواد العروض والمنتجات. وربما نرسل من حين لآخر استبيانات المنتجات أو الخدمات والرسائل
            الترويجية البريدية لإعلامك بالمنتجات أو الخدمات الأخرى المتوفرة حالياً لدى عناية أمنت.
        </p>
        <p>
            * قد نرسل المعلومات المحتفظ بها لدينا في موقع أمنت، للمعالجة إلى شركات أخرى (أو شركات تعمل بناءً على
            تعليماتها).
            ويُعد إدخالك لتفاصيلك في موقعنا موافقة منك على هذا الاستخدام لمعلوماتك الشخصية.
        </p>
        <p class="sub-heading-2"> أمن البيانات </p>
        <p>
            على الرغم من أننا نتخذ خطوات معقولة لحماية المعلومات الشخصية التي نوفرها عبر هذا الموقع، إلا أنه لا يوجد
            نظام آمن أو خال من الأخطاء بنسبة 100% . لذلك، فإننا لا نقر ولا نضمن أمن أو دقة المعلومات التي نجمعها أو
            نقدمها عبر هذا الموقع كما أنك تقر بمعرفتك وموافقتك على ذلك من دون أدنى مسؤولية علينا لن يتم إفشاء معلوماتك
            إلى طرف آخر خارج خدمة أمنت، إلا إذا وافق على الحفاظ على سرية معلوماتك الشخصية بصرامة واستخدامها فقط للغرض
            المحدد الذي من أجله قمنا بتزويده بها وفي الحالات التالية :
        </p>
        <p>
            * إذا كانت ضرورية لتنفيذ أي إتفاقية منتجات/خدمات نبرمها معك
        </p>
        <P>
            * إذا أعطيت موافقتك على هذا الإفشاء
        </P>
        <p>
            * إذا كان هذا الإفشاء مطلوباً أو مسموحاً بموجب القانون
        </p>
        <P>
            * إذا كان لدينا الحق لنقل الحقوق و/أو الالتزامات حسبما هو منصوص عليه بموجب بنود أي وثيقة قد تشتريها
        </P>
        <p>
            * إذا كان الطرف الآخر يقدم منافع أو خدمات لك بموجب أو فيما يتعلق بأي إتفاقية منتجات/خدمات تم إبرامها معك
            مباشرة
        </p>
        <p class="sub-heading-2"> بيانات التتبع وملفات تعريف الارتباط </p>
        <p>
            - نحن نستخدم ملفات تعريف الارتباط أو (cookies)
            وتقنيات التتبع المماثلة لمعرفة النشاط على خدماتنا والاحتفاظ بمعلومات معينة.
        </p>
        <p>
            - ملفات تعريف الارتباط هي ملفات تحتوي على قدر صغير من البيانات والتي قد تتضمن معرّفاً مميزاً مجهول الهوية.
            يتم إرسال ملفات تعريف الارتباط إلى المتصفح الخاص بك من موقع ويب وتخزينها على جهازك.
        </p>
        <p>
            - من تقنيات التتبع المستخدمة أيضاص تقنية beacons, tags, scripts
            ويتم استخدام هذه التقنيات لجمع المعلومات وتتبعها ثم تحليلها لتحسين خدمتنا المقدمة لك.
        </p>
        <p>
            - يمكنك توجيه متصفحك لرفض جميع ملفات تعريف الارتباط أو لتنبيهك إلى وقت إرسال ملف تعريف الارتباط. ولكن، إذا
            كنت لا تقبل ملفات تعريف الارتباط، فقد لا تتمكن من استخدام أجزاء من خدمتنا.
        </p>
        <p class="sub-heading-2"> التعديلات </p>
        <p>
            قد تسفر عمليات التحسين في التكنولوجيا عن حدوث تغييرات في طريقة عرض وتسجيل واستخدام المعلومات الشخصية الخاصة
            بك. إذا اعتقدنا بأن التغييرات يمكن أن تكون مضرة لك، فسنقوم بإبلاغك، عن طريق البريد الإلكتروني والرسائل
            النصية
            [.تطبيقاً للقواعد المنظمة لأعمال وساطة التأمين الإلكتروني]
            وبإرسال إشعار بالتعديل في الموقع، إذا استخدمت الموقع بعد هذا الإشعار، فسنفترض أنك وافقت على تلك التغييرات
            تلقائياً من دون الحاجة لتقديم إشعار خطي منك بذلك.
        </p>
        <p class="sub-heading-2"> الاستفسارات </p>
        <p>
            أي استفسار أو تعليقات حول مواقع أو سياسة الخصوصية ينبغي أن توجه عبر البريد الإلمتروني باستخدام النموذج
            الموجود في صفحة (تواصل معنا ) على موقع
            <a href="https://ammant.com">www.ammant.com</a>
        </p>
        <p class="sub-heading-2"> القانون الواجب التطبيق والمحاكم المختصة </p>
        <p>
            تخضع شروط الاستخدام هذه وتفسر وفقاً لقانون المملكة العربية السعودية. تخضع المنازعات الناشئة ذات العلاقة
            بشروط الاستخدام للاختصاص القضائي الحصري لمحاكم جدة لدى المملكة العربية السعودية.
        </p>
    </div>
</div>