<!-- ----------------------------------------------------------------------- -->
<!--                             Email Chane Form                            -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <div class="col-8 mt-4">
<h5><fa-icon icon="user-edit" class="icon"></fa-icon> 
  تغيير كلمة المرور
  </h5>
  <br/>
  
<form [formGroup]="changePasswordForm">
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="{{ 'Auth.PasswordReset.NewPasswordText' | translate }} "
      formControlName="newPassword"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="{{ 'Auth.ConfirmPasswordText' | translate }} "
      formControlName="confirmNewPassword"
    />
  </div>
  <div class="form-group" *ngIf="!isubmited">
    <input
      type="password"
      class="form-control"
      placeholder="{{ 'Auth.PasswordText' | translate }} "
      formControlName="oldPassword"
    />
  </div>
  <div class="form-group" *ngIf="isubmited">
    <input
      type="text"
      class="form-control"
      placeholder="{{ 'Misc.VerificationCodeText' | translate }}"
      formControlName="verificationCode"
    />
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="changePassword()"
      *ngIf="!isubmited"
    >
      <fa-icon icon="save" size="xs" class="icon" *ngIf="!isLoading"></fa-icon>
      <span
        *ngIf="isLoading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      {{ "App.SaveChangesText" | translate }}
    </button>
 
      <button
        type="submit"
        class="btn btn-primary"
        (click)="ConfirmchangePassword()"
        *ngIf="isubmited"
      >
        {{ "App.saveText" | translate }}
        <fa-icon
          icon="save"
          size="xs"
          class="icon"
          *ngIf="!isLoading"
        ></fa-icon>
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
 
     <button
      type="button"
      class="btn btn-danger ml-3"
      [routerLink]="['/user/account/']" 
    >
      <fa-icon icon="times-circle" size="xs" class="icon"></fa-icon>
      {{ "App.CancelText" | translate }}
    </button>
  </div>
</form>
</div></div>