<div class="container justify-content-center">
  <div class="flex-column justify-content-between">
    <div class="card two bg-white px-5  mb-5 mt-4 ">
   
       
      <!-- ----------------------------------------------------------------------- -->
      <!--                           Password Reset Form                           -->
      <!-- ----------------------------------------------------------------------- -->
      <form [formGroup]="passwordResetFormGroup" class="mt-3 " >
         <h6 > {{"Auth.PasswordReset.ResetPasswordText"|translate}}</h6>
          <!-- ------------------------------ Alert(s) ------------------------------- -->
            <!-- Error(s) Alert -->
     <!-- Error(s) Alert -->
     <ngb-alert *ngIf="isErrorAlertVisible" type="danger" (close)="isErrorAlertVisible = !isErrorAlertVisible">
      <small>{{ errorMessage }}</small>
      <small *ngIf="validationErrors">
         <ul class="errors-list">
            <li *ngFor="let error of validationErrors">{{error}} </li>
         </ul>
      </small>
   </ngb-alert>

   <!-- Success Message -->
   <ngb-alert *ngIf="isSuccessAlertVisible" type="success" (close)="isSuccessAlertVisible = !isSuccessAlertVisible">
      <small>{{ 'Auth.PasswordReset.CodeResendText' | translate }}</small>
   </ngb-alert>
         <div class="form-group mt-3">
               <div class="input-group">
               <input formControlName="email" type="email" class="form-control" id="mail"
                  [placeholder]="('Auth.EmailText' | translate)">
                  <div class="input-group-append ">
                     <span class="input-group-text calendar-icon">
                         <fa-icon icon="at"> </fa-icon>
                     </span>
                  </div>
             </div>   
               <!-- Email Validation Messages -->
               <div  *ngIf="passwordResetForm.email.errors" class="error-group">
                  <div class="v-meassage" *ngIf="isSubmitting && passwordResetForm.email.errors.required">
                     {{ 'Errors.EmptyInputField' | translate }}
                  </div>
                  <div class="v-meassage" *ngIf="passwordResetForm.email.touched && passwordResetForm.email.errors.pattern">
                     {{ 'Errors.InvalidEmail' | translate }}
                  </div>
               </div>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <!--                         Last Phone Digits Input                         -->
            <!-- ----------------------------------------------------------------------- -->
            <div class="form-group">
               <div class="input-group">
               <input type="text" class="form-control" formControlName="lastPhoneDigits"
                  [placeholder]="('Auth.PasswordReset.LastPhoneDigitsText' | translate)" maxlength="4"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                  <div class="input-group-append ">
                     <span class="input-group-text calendar-icon">   <fa-icon icon="phone"> </fa-icon></span>    </div>
             </div>
            <!-- Phone Digits Validation Messages -->
            <div  *ngIf="passwordResetForm.lastPhoneDigits.errors" class="error-group">
               <div class="v-meassage" *ngIf="isSubmitting && passwordResetForm.lastPhoneDigits.errors.required">
                  {{ 'Errors.EmptyInputField' | translate }}
               </div>
               <div class="v-meassage" *ngIf=" passwordResetForm.lastPhoneDigits.touched  && passwordResetForm.lastPhoneDigits.errors.minlength">
                  {{ 'Errors.IncompleteInputField' | translate }}
               </div>
            </div>
         </div>

            <div class="row d-flex justify-content-center brder ">
               <button class="submit-btn form-control" type="submit" 
               (click)="sendPasswordReset()">
                  {{ 'Auth.PasswordReset.ResetText' | translate }}
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                     aria-hidden="true"></span>
               </button>
            </div>


           <!--  <div class="row d-flex justify-content-center mt-2 ">
            <a href="javascript:void(0)" (click)="backToLogin()">{{ "Auth.SignInText"| translate }}</a>
         </div> -->
      </form>


   </div>
 
   </div>
   <label class="d-flex justify-content-center" style="color: #C5C7D0; font-size: medium;" > {{ 'Auth.HaveAccountText' | translate }}  

      <a id="forgetPassword "  (click)="backToLogin()" s  style="color: #005DBD; font-weight: bold;">
         {{ 'Auth.SignToExistingText' | translate }}  </a>
  </label>
</div>